.cuerpoConsulta{
	display: block;
	padding: 30px;
	/*border-bottom: 1px solid #d4d4d4;*/
	border:solid 1px #e8e4d9;
	border-radius:5px;
	color:#333333;
	margin:7px;
}

.barraInferior {
	display: block;
	padding: 5px;
	margin: 5px 0px 0px 0px;
}

.separador {
	border:solid 0.2px #e8e4d9;
}

.wrapper_consulta_h1 {
	font-size: 18px;
	padding: 0px 10px 80px 0px;
	color: #ec3424;
	font-weight: bold;
	border-bottom: 1px solid #c9c7c0;
}

.titulo_style_pantallas {
	font-size: 18px;
	padding: 10px 0px 20px 10px;
	color: rgb(237,137,43);
	font-weight: bold;
	border-bottom: 1px solid #c9c7c0;
}

.inicio_sesion {
	position: absolute;
	top: 10px;
}

.cerrar_sesion {
	font-size: 13px !important;
	color: #dc281e !important;
	font-weight: normal !important;
}


.texto_sesion {
	color: #333333;
	font-size:13px;
	font-weight:normal;
	font-family:"Trebuchet MS";
}

.titulosPrincipales{
	font-family:Trebuchet MS ! important; 
	font-size: 18px !important; 
	font-weight:bold;
	color: #ec3424;
}

.contenido_info {
	margin: 20px 0px 0px 0px;
	height: auto;
	padding: 0px 0px 10px 0px;
}

.wrapper_consulta {
	border:solid 1px #e8e4d9;
	border-radius:5px;
	padding: 0px 18px 0px 18px;
	color:#333333;
	font-size:13px;
	font-weight:normal;
	margin: 16px 10px 10px;
	font-family:"Trebuchet MS";
}

.session_style {
	border:solid 1px #e8e4d9;
	border-radius:5px;
	padding: 0px 0px 10px 20px;
	color:#333333;
	font-size:13px;
	font-weight:normal;
	margin: 16px 10px 10px;
	font-family:"Trebuchet MS";
}

.login_style {
    /* border: solid 1px #e8e4d9; */
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
    color: #333333;
    font-size: 13px;
    font-weight: normal;
    margin: 25px 226px 9px;
    font-family: "Trebuchet MS";
    /* background-color: rgba(0, 116, 217, 0.07); */
    text-align: center;
}

.titulo_style_session{
	font-size: 18px;
	padding: 10px 0px 10px 0px;
	color: rgb(237,137,43);
	font-weight: bold;
}

.styleTitulos {
	font-size:14px; 
	color: #9391FB; 
	float: right; 
	font-weight: bold;
}

.panel .inside .box  div.ui-layout-center{
	float:left;
	width:73%;
	
	
}

.panel .inside .box  div.ui-layout-center table.rf-dt{
	width:450px;
	empty-cells:show;
	border-collapse:collapsed;
}

.panel .inside .box  div.ui-layout-center table.rf-dt th{
	  position: relative;
}

.panel .inside .box  div.ui-layout-center table.rf-dt tbody{
	  height:100%;
	overflow:auto;
} 

.campos_consulta linkMenu{
	/*border-bottom: none !important;*/
}

.linkMenu a {
	font-size: 13px;
	text-decoration: none;
	color: #333333;
	font-weight: normal;
	font-family:"Trebuchet MS";
}

.linkMenu a:hover {
	font-size: 14px;
	color: #DC281E;
}

.cerrar_sesion {
	font-size: 13px !important;
	color: #eceeef !important;
	font-weight: normal !important;
	float: right;
}