html {

}

body {
	font-size: 12px !important;
	color: #ffffff;
	font-family: Tahoma, Verdana !important;
	width: 100%;
	margin: 0 auto;
	height: auto;
	background: url(../img/bg_general.jpg) repeat-x top #ffffff;
}

img {
	border: 0;
}

input,select,textarea,button,keygen,isindex,legend,a {
	font-family: Tahoma, Verdana !important;
	font-weight: 400 !important;
}

input {
	width: 185px !important;
}

.content {
	width: 99%;
	height: auto;
	margin: auto;
	position: relative;
}

.header {
	margin: 10px 20px 0px 20px;
}

.content_header {
	height: 70px;
	margin: 0px 0px 12px 0px;
	width: 95%;
	padding:25px;
}

.texto_header {
	float: left;
	color: #E20177;
	width: 75%;
	font-family: Tahoma, Verdana !important;
	font-size: 35px;
	margin: 9px 0px 0px 40px;
}

.logo {
	float: left;
	display: block;
	width: 220px;
	height: 10px;
	background: url(../resources/facturacion/images/ok.png) no-repeat;
	cursor: pointer;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}

.nav_principal {
	color: #EE085B;
	width: 95%;
	padding-top: 2px;
}
s
.nav_principal_a {
	color: #787878;
	font-size: 12px;
	text-decoration: none;
	font-weight: 500 !important;
	margin-right: 5px;
}

.nav_principal_a:hover {
	color: #EE085B;
	font-size: 12px;
	text-decoration: none;
	margin-right: 5px;
}

.bt_volver {
	float: right;
}

.bt_volver_a {
	color: #ffffff;
	background: url(../img/bt_volver_inicio.png) no-repeat;
	width: 102px;
	height: 19px;
	padding-left: 35px;
	text-decoration: none;
}

.bt_volver_a:hover {
	color: #939598;
	background: url(../img/bt_volver_inicio_hover.png) no-repeat;
	width: 102px;
	height: 19px;
	padding-left: 35px;
}

.btRU_volver_a {
	color: #ffffff;
	background: url(../img/bt_volver_inicio.png)
		no-repeat;
	width: 102px;
	height: 19px;
	padding-left: 35px;
	text-decoration: none;
}

.btRU_volver_a:hover {
	color: #939598;
	background: url(../img/bt_volver_inicio_hover.png)
		no-repeat;
	width: 102px;
	height: 19px;
	padding-left: 35px;
}

.bt_buzon {
	float: right;
}

.bt_buzon_a {
	color: #ffffff;
	background: url(../img/bt_buzon_inicio.png)
		no-repeat;
	width: 102px;
	height: 19px;
	padding-left: 30px;
	text-decoration: none;
}

.bt_buzon_a:hover {
	color: #939598;
	background: url(../img/bt_buzon_inicio_hover.png)
		no-repeat;
	width: 102px;
	height: 19px;
	padding-left: 30px;
}

.bt_buzon_selected {
	float: right;
}

.bt_buzon_selected a {
	background: url(../images/bt_buzon_inicio_hover.png) no-repeat;
	width: 102px;
	height: 19px;
	color: #939598;
	padding-left: 30px;
}

.wrapper {
	/*background: url(../img/bg_wrapper.jpg) repeat-x bottom;*/
	position: relative;
	width: auto;
	-webkit-box-shadow: 0px 0px 20px #aaaeb7;
	-moz-box-shadow: 0px 0px 50px #96C940;
	filter: shadow(color = #96C940, direction = 135, strength = 2);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-color: #333333;
	margin: 20px auto;
}

.styleDivContenedor {
	margin: auto;
	/*
	background: url(../img/bg_wrapper.jpg) repeat-x
	*/
		bottom;
	height: auto;
	border-color: #A7A9AC;
}

.wrapper_consulta {
	/*
	background: url(../img/bg_wrapper.jpg) repeat-x
		bottom;
		*/
	height: auto;
	-webkit-box-shadow: 0px 0px 50px #3C65CF;
	-moz-box-shadow: 0px 0px 20px #3C65CF;
	filter: shadow(color = #3C65CF, direction = 135, strength = 2);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-color: #3C65CF;
	margin: 20px 0px 10px 0px;
	padding-bottom: 20px;
}

.wrapper_h1 {
	font-size: 22px;
	margin: 0px;
	padding: 30px 20px 20px 10px;
	color: #004a80;
	font-weight: 400;
	border-bottom: 1px solid #DADCE0;
}

.contenido_info {
	margin: 20px;
	height: auto;
	padding: 0px 0px 30px 0px;
}

.contenido_info h1 {
	font-size: 12px;
	font-weight: 400;
	color: #6D6F71;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: 1px solid #E20177;
}

.contenido_info h2 {
	font-size: 22px;
	font-weight: 400;
	color: #CC3333;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #CC3333;
}

.contenido_info h3 {
	font-size: 16px;
	font-weight: 400;
	color: #939598;
	margin: 0px 0px 0px 0px;
	padding: 20px 10px 20px 10px;
}

.contenido_info_registro {
	margin: 20px;
	height: 370px;
}

.contenido_info_ingreso {
	margin: 20px auto;
	height: 280px;
}

.contenido_info_recuperar {
	margin: 20px;
	height: 250px;
}

.contenido_left {
	width: 500px;
	border-right: 1px solid #E20177;
	padding: 0 50px 0 50px;
	float: left;
}

.contenido_left h1 {
	font-size: 12px;
	font-weight: 400;
	color: #6D6F71;
	margin: 0px;
	padding: 0px;
	border: none;
}

.contenido_left h2 {
	font-size: 12px;
	font-weight: 400;
	color: #004a80;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #787878;
}

.contenido_left h3 {
	font-size: 12px;
	font-weight: 400;
	color: #004a80;
	margin: 0px 0px 30px 0px;
	padding: 0px;
}

.contenido_right {
	padding: 0px 0px 0px 50px;
	width: 500px;
	float: left;
	
}

.contenido_right h1{
	font-size: 12px;
	font-weight: 400;
	color: #004a80;
	margin: 0px;
	padding: 3px;
	border-bottom: 1px solid #787878;
}

.contenido_right li {
	font-size: 12px;
	font-weight: 400;
	color: #004a80;
	margin: 0px;
	padding: 0px;
}

.footer {
	
}

.footer h1 {
	margin: 0px;
	padding: 0px;
	color: #004a80;
	font-size: 11px;
	font-weight: 400;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.footer a {
	color: #004a80;
	text-decoration: none;
}

.footer a:hover {
	color: #004a80;
	text-decoration: none;
}

.campos_general {
	margin:0px 0px 0px 20px !important;
}

.campos_conulta {
	margin: 0px 0px 0px 30px;
}

.campos_texto {
	font-size: 12px;
	vertical-align: -8px;
	margin: 0px 0px 0px 0px;
	font-weight: 400;
	color: #787878;
}

.campos_sugerencia {
	margin: 0px 200px 0px 200px;
}

.campos_bt {
	font-size: 19px;
	vertical-align: -8px;
	margin: 0px 0px 0px 0px;
	padding-top: 10px;
	font-weight: 400;
	color: #414042;
}

.campos_form {
	font-size: 19px;
	vertical-align: -8px;
	margin: 0px 0px 10px 0px;
	font-weight: 400;
	color: #414042;
}

.campo_option {
	color: #6D6F71;
	width: 395px;
	height: 26px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #DADCE0;
	font-size: 16px;
	padding: 0px 10px 0px 10px;
	-webkit-box-shadow: 1px 1px 0px #999;
	-moz-box-shadow: 1px 1px 0px #999;
	font-family: Tahoma, Verdana;
	font-weight: 400;
}

.campo_option2 {
	color: #6D6F71;
	width: 183px;
	height: 26px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #DADCE0;
	font-size: 16px;
	padding: 0px 10px 0px 10px;
	-webkit-box-shadow: 1px 1px 0px #999;
	-moz-box-shadow: 1px 1px 0px #999;
	font-family: Tahoma, Verdana;
	font-weight: 400;
}

.campo_linea {
	color: #b0afaf;
	width: 380px;
	height: 26px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #DADCE0;
	font-size: 16px;
	padding: 0px 10px 0px 10px;
	-webkit-box-shadow: 1px 1px 0px #999;
	-moz-box-shadow: 1px 1px 0px #999;
	font-family: Tahoma, Verdana;
	font-weight: 400;
}

.campo_linea2 {
	color: #b0afaf;
	width: 168px;
	height: 26px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #DADCE0;
	font-size: 16px;
	padding: 0px 10px 0px 10px !important;
	-webkit-box-shadow: 1px 1px 0px #999;
	-moz-box-shadow: 1px 1px 0px #999;
	font-family: Tahoma, Verdana;
	font-weight: 400;
}

.campos_bt a {
	display: block;
	color: #231F20;
	text-decoration: none;
}

.campos_bt h1 {
	margin: 0px;
	padding: 0px;
	width: 190px;
	color: #939598;
	font-size: 16px;
	font-weight: 400;
}

.campos_bt a:hover {
	display: block;
	color: #B45F04;
	text-decoration: none;
}

.boton_inferior {
	margin: 0px;
}

.boton_inferior a {
	text-decoration: none;
}

.terminos_check {
	font-size: 19px;
	font-weight: 400;
	color: #414042;
	margin: 10px;
}

.inicio_sesion {
	position: absolute;
	top: 0px;
	left: 20px;
}

.inicio_sesion h1 {
	color: #004a80;
	font-size: 17px;
	font-weight: 400;
	border: none;
	margin: 28px 0px 1px 0px;
	padding: 0px;
	left: 15px;
}

.texto_sesion {
	color: ##004a80;
}

.texto_orden {
	color: #669900;
}

.texto_titulo {
	color: #DC281E;
}

.cerrar_sesion {
	font-size: 13px !important;
	color: #787878 !important;
	font-weight: 500 !important;
}

.cerrar_sesion:hover{
	font-size: 14px !important;
	color: #EE085B !important;
}

.inicio_sesion a {
	font-size: 13px;
	text-decoration: none;
	color: #939598;
	font-weight: 400;
}

.inicio_sesion a:hover {
	font-size: 13px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 400;
}

.campo_comentario {
	width: 400px;
	height: 170px;
	font-size: 14px;
	padding: 10px 10px 0px 10px;
	color: #b0afaf;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #DADCE0;
	font-size: 16px;
	padding: 10px;
	-webkit-box-shadow: 1px 1px 0px #999;
	-moz-box-shadow: 1px 1px 0px #999;
	font-family: Tahoma, Verdana;
	font-weight: 400;
}

.popup {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../images/bg_popup.png) repeat;
	z-index: 300;
}

.mensaje_error {
	position: relative;
	height: auto;
	-webkit-box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
	filter: shadow(color = #999999, direction = 135, strength = 2);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-color: #A7A9AC;
	width: 400px;
	margin: auto;
	top: 100px;
	background-color: #ffffff;
	padding: 40px 20px 40px 20px;
}

.mensaje_error h1 {
	font-size: 12px;
	font-weight: 400;
	color: #6D6F71;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}

.mensaje_error h2 {
	font-size: 22px;
	font-weight: 400;
	color: #CC3333;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #CC3333;
}

.mensaje_error h3 {
	font-size: 16px;
	font-weight: 400;
	color: #939598;
	margin: 0px 0px 0px 0px;
	padding: 20px 10px 20px 10px;
}

.error_campo {
	position: absolute;
	-webkit-box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
	filter: shadow(color = #999999, direction = 135, strength = 2);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-color: #A7A9AC;
	margin: auto;
	color: #ffffff;
	background-color: #939598;
	padding: 5px 10px 5px 10px;
}

.error_campo h1 {
	padding: 0px;
	margin: 0px;
	color: #ffffff;
}

.error_campo a {
	color: #CC3333;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 21px;
	margin-right: 10px;
	text-decoration: none;
	vertical-align: -2px;
}

.boton_consulta {
	clear: both;
	padding-top: 20px;
}

.paginador {
	margin: 30px 0px 0px 0px;
}

.paginador a {
	margin-right: 8px;
	text-decoration: none;
	color: #939598;
}

.paginador a:hover {
	margin-right: 8px;
	text-decoration: none;
	color: #CC3333;
}

#tblResultado {
	border-top: 1px solid #959699;
	margin: 20px 0px 20px 0px;
	color: #414042;
	font-weight: 400;
	font-size: 12px;
}

#tblResultado td {
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #959699;
	border-right: 1px solid #959699;
}

.img_tabla {
	vertical-align: -1px;
	margin-left: 5px;
}

.styleGreen {
	background: url(../img/bt_consultar.png) no-repeat
		!important;
	width: 193px;
	height: 35px;
	border: none !important;
}

.styleBtnCargarComprobantes {
	background: url(../img/btn_cargar_comprobantes.png) no-repeat
		!important;
	width: 193px;
	height: 35px;
	border: none !important;
}

.styleButton {
	background: url(../img/bt_imagen.png) no-repeat
		!important;
	width: 193px;
	height: 35px;
	border: none !important;
	color: #ffffff !important;
	font-size: 12px !important;
	text-shadow: none !important;
	text-align: center !important;
	font-weight: none !important;
}

.styleButtonWizard .ui-button {
	background: url(../img/bt_imagen.png) no-repeat
		!important;
	width: 193px;
	height: 35px;
	border: none !important;
	color: #ffffff !important;
	font-size: 12px !important;
	text-shadow: none !important;
	text-align: center !important;
	font-weight: none !important;
}

.styleButtonWizard  .ui-icon {
	background-image: none !important;
}

.styleButtonWizard .ui-wizard-step-title {
	padding: 0px 10px 0px 10px !important;
	border: none !important
}

.campo_linea2 .ui-inputfield {
	padding: 0px !important;
}

.styleButton .ui-button-text {
	font-family: 'Roboto Condensed', sans-serif !important;
}

.styleCalendar textarea,input[type="text"],input[type="password"],select
	{
	font-size: 12px !important;
	font-family: Tahoma, Verdana !important;
}

.styleHeaderConsulta {
	background-color: #ffffff;
}

.menu .ui-selectonemenu-label {
	font-family: Tahoma, Verdana !important;
	float: none !important;
}

.menu .ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield {
	box-shadow: none !important;
}

.ui-widget {
	font-family: Tahoma, Verdana !important;
	font-size: 12px;
}

.paginador .ui-paginator-page {
	color: #939598;
}

.paginador .ui-widget-header .ui-state-default {
	border: 0px !important;
}

.paginador .ui-widget-header .ui-state-active {
	border: 0px !important;
	background: none !important;
}

.paginador .ui-state-hover {
	background: none !important;
	color: #CC3333 !important;
	text-decoration: none;
}

.paginador .ui-paginator .ui-paginator-prev .ui-icon {
	background: url(../img/left.png) repeat-x !important;
	width: 44px !important;
	text-align: center !important;
}

.paginador .ui-paginator .ui-paginator-next .ui-icon {
	background: url(../img/right.png) repeat-x
		!important;
	width: 46px !important;
	text-align: center !important;
}

.paginador .ui-widget-header {
	background: none !important;
	border: 0px solid #A8A8A8 !important;
}

.paginador .ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	background: none !important;
}

.paginador .ui-icon {
	background-image: none !important;
}

.paginador2 .ui-icon {
	background-image: none !important;
	color: red !important;
}

.paginador .ui-datatable th,.ui-datatable tfoot td {
	text-align: right !important;
}

.paginador .ui-widget-header .ui-state-active {
	color: #CC3333 !important;
}

.menError .ui-message-error {
	color: #FFFFFF !important;
	font-size: 18px !important;
	border: 0px !important;
	width: 200px !important;
	border-color: #A7A9AC !important;
	margin: auto !important;
	color: #ffffff !important;
	background-color: #939598 !important;
	padding: 5px 10px 5px 10px !important;
	-webkit-box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
	filter: shadow(color = #999999, direction = 135, strength = 2);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.menErrorRU .ui-message-error {
	color: #FFFFFF !important;
	font-size: 18px !important;
	border: 0px !important;
	border-color: #A7A9AC !important;
	margin: auto !important;
	color: #ffffff !important;
	background-color: #939598 !important;
	padding: 5px 10px 5px 10px !important;
	-webkit-box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
	filter: shadow(color = #999999, direction = 135, strength = 2);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.menError .ui-message-error-summary {
	margin-left: 10px !important;
	font-weight: 400 !important;
}

.menError div {
	border-radius: 10px !important;
}

.columnasCSS {
	color:#787878;
	font-size: 12px !important;
}

/*estilos para lo de contactos*/
.cmpPersonBgWhite {
	font-family: Tahoma, Verdana !important;
}

.cmpConPriTblContainer {
	font-family: Tahoma, Verdana !important;
}

.label-bold {
	font-family: Tahoma, Verdana !important;
	text-align: left !important;
}

.tamSelect {
	width: 200px !important;
}

.personCmpTamSelect {
	width: 190px !important;
}

.btnClass2 {
	background: url("../img/bt_imagen.png") repeat-x
		scroll 0 0 transparent !important;
	color: #FFFFFF !important;
	width: 193px;
	height: 35px;
	border: none !important;
	font-size: 12px !important;
	text-shadow: none !important;
	text-align: center !important;
	font-weight: none !important;
}

.claseTabs {
	font-family: Tahoma, Verdana !important;
	font-size: 18px !important;
}

#frmValidaciones\:validacion\:content {
	border: none !important;
	background-color: transparent !important;
}

#frmValidaciones\:usuarios\:content {
	border: none !important;
	background-color: transparent !important;
}

#frmValidaciones\:contacto\:content {
	border: none !important;
	background-color: transparent !important;
}

.ui-ingreso {   
    width: 200px;   
    height: 40px;
}

.headerMenu {
	background-color: #ECECEC;
	height: 10px;
}

.colorLabel {
	color:#004a80;
}

.colorLabelNegrita {
	color: #DC281E;
	font-weight:bold;
}

.botonIngresar {
	background: url(../img/bt_ingresar.png) no-repeat
		!important;
	width: 125px;
	height: 31px;
	border: none !important;
}

.botonAceptar, .botonAceptar.ui-state-default {
    background: url("../img/btn_aceptar.png") no-repeat !important;
    width: 125px ;
	height: 31px ;
	border: none !important;
}

.letraNegrita {
	font-weight:bold !important;
	font-size: 17px;
}

.letraSize16 {
	font-size: 16px;
}

.letraNegritaCelda {
	font-size: 13px;
	font-weight:bold !important;
}

.letraSizeCelda {
	font-size: 14px;
}

.linkMenu a {
	font-size: 12px;
	text-decoration: none;
	color: #004a80;
	font-weight: 400;
}

.linkMenu a:hover {
	font-size: 16px;
	color: #EE085B;
}

.botonFirmar {
	background: url(../img/btn_firmar.png) no-repeat !important;
	width: 193px;
	height: 35px;
	border: none !important;
}

.subtitulo {
	font-family: Tahoma, Verdana !important;
	font-size: 14px !important;
	font-weight: 400;
	color: #6D6F71 !important;
	margin: 0px 0px 30px 0px;
	border-bottom: 1px solid #FF8000;
	padding: 0px 0px 5px 0px;
}

.piePagina {
	width: 98%;
	margin: auto;
	display: block;
}

.labelFormulario {
	font-family: Tahoma, Verdana !important;
	font-size: 13px;
	color: #787878;
	background-color: #F7F7F7;
	text-align: right;
	width: 14em;
	padding: 5px;
	font-weight: bold;
	border-bottom: 0.15em solid #ffffff;
}

.labelCheck{
	font-size: 14px;
	color: #787878;
	background-color: #F7F7F7;
	width: 15em;
	padding: 5px;
	border-bottom: 0.5em solid #ffffff;
}

.contentFormulario {
	font-family: Tahoma, Verdana !important;
	font-size: 14px !important;
	text-align: left;
	width: 25em;
	padding: 5px;
}


.labelFormularioGrande {
	font-family: Tahoma, Verdana !important;
	font-size: 13px;
	color: #787878;
	background-color: #F7F7F7;
	text-align: right;
	width: 14em;
	padding: 5px;
	font-weight: bold;
	border-bottom: 0.15em solid #ffffff;
}
.contentFormularioGrande {
	font-family: Tahoma, Verdana !important;
	font-size: 14px !important;
	text-align: left;
	width: 60em;
	padding: 5px;
}

.contentFormularioPequenio {
	font-family: Tahoma, Verdana !important;
	font-size: 14px !important;
	text-align: left;
	width: 13em;
	padding: 5px;
}

.spaceFormulario {
	text-align: center;
	width: 10em;
	padding: 5px;
}

.botonNuevo {
	background: url(../img/btn_nuevo.png) no-repeat !important;
	width: 193px;
	height: 35px;
	border: none !important;
}

.botonModificar {
	background: url(../img/btn_modificar.png) no-repeat !important;
	width: 193px;
	height: 35px;
	border: none !important;
}

.botonGuardar {
	background: url(../img/btn_guardar.png) no-repeat !important;
	width: 193px;
	height: 35px;
	border: none !important;
}

.botonEliminar {
	background: url(../img/btn_eliminar.png) no-repeat !important;
	width: 193px;
	height: 35px;
	border: none !important;
}

.linkImagen {
	border:none;
}

.linkTabla {
	padding-left:20px !important;
	font-size: 13px;
	text-decoration: none;
	color: #B45F04;
	font-weight: 400;
}
.contenidoCentro {
	text-align: center;
}

.contenidoRightColumna {
	padding-left:10px !important;
}

.contenidoColumna {
	padding-left:20px !important;
	font-size: 16px !important;
	text-transform: uppercase;
}

.contenidoColumnaNotUpperCase {
	padding-left:20px !important;
	font-size: 16px !important;
}

.botonCentro {
	text-align:center;
	padding:8px;
	padding-bottom:4px;
	height: 50px;
}

.barraInferior {
	display: block;
	background-color: #F7F7F7;
	padding: 5px;
	margin: 5px 0px 0px 0px;
}

.subTituloTabla {
	color: #E20177;
	position: absolute;
}

.withSelectOneMenu {
	padding:0px !important;
	position:none !important;
	text-align:left !important;
	width: 192px !important;
	border-left:#a8a8a8 1px solid !important;
}

.withCalendarConsulta  input {
	width: 185px !important
}

#impresiones td.ui-state-default {
	border: 0 none !important;
	background:none !important;
}

#impresiones .ui-widget-content {
	border: 0 none !important;
}

.ui-dialog-title {	
	font-size: 12px;
	font-weight: 400;
	color: #6D6F71;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 5px 0px;
}

.ui-dialog .ui-dialog-title {
	color: #DC281E;
}

.ui-datatable-scrollable table {
	table-layout: auto;
}


.labelRadio {
	font-family:Tahoma, Verdana !important;
	font-size: 12px !important;
	color: #787878;
	background-color: #F7F7F7;
	text-align: left;
	width: 25em;
	padding: 5px;
}

.subtitulos {
	font-family:Tahoma, Verdana !important;
	font-size: 12px !important; 
	color: #004a80;
}

.subTitulosPrincipales {
	font-family:Tahoma, Verdana !important; 
	font-size: 12px !important; 
	font-weight:500;
	color: #004a80;
}

.titulosPrincipales{
	font-family:Tahoma, Verdana !important;
	font-size: 12px !important; 
	font-weight:500;
	color: #E20177;
}

.tituloPick{
	font-family:Tahoma, Verdana !important;
	font-weight: normal;
	font-size: 12px;
	color: #004a80;
}

.itemsPick {
	font-family:Tahoma, Verdana !important;
	font-size: 12px;
	color: #787878;
	text-align: left;
}

.infoCorreo {
	font-family:Tahoma, Verdana !important;
	font-size: 12px;
	color: #DC281E;
}

.linkRegistro {
	margin-right: 20px;
	font-size: 12px !important;
	color: #004a80 ;
}

.linkRegistro:hover {
	color: #E20177 ;
}

.listaCheck {
	padding-left: 10px;
	padding-right: 50px;
	color:#669900;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-size: 14px;
}

.subtitulo_info h1 {
	font-size: 12px;
	font-weight: 400;
	color: #6D6F71;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 5px 0px;
}