
::-webkit-input-placeholder  { color:#cdcdcd; }
input:-moz-placeholder { color:#cdcdcd; }
input:-ms-input-placeholder { color:#cdcdcd; }


body{
	padding:0px;
	margin:0px;
	font-family: Verdana, "MS Trebuchet", sans-serif;
	font-size: 0.95em;
}



#content_login{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-340px;
	margin-top:-170px;

}

#content_login .panel{
	width: 574px;
	height: 260px;
}

#content_login .panel .izq{
	width:175px;
	float:left;
	height: 200px;
	border-right:1px Solid #fadbc3;
}

#content_login .panel .der{
	width:392px;
	float:left;
	height: 200px;
}

#content_login .panel .der .inside{
	padding-left:20px;
	padding-right:10px;
}

#content_login .panel .der .inside h1{
	color:#948eb4;
	font-size: 16px;
	padding:0px;
	margin:0px;
	margin-bottom:30px;
}

form.form-horizontal{
	margin-top:20px;
	padding:0px;

}

form.form-horizontal label.control-label{
	font-weight: bold;
	float:left;
	margin-left:0px;
	text-align: left;
	width:100px;
}

form.form-horizontal .controls{
	margin-left:00px;
}


form.form-horizontal input[type="submit"]{

	/*background-image: linear-gradient(bottom, rgb(251,203,44) 32%, rgb(240,151,42) 66%, rgb(237,137,43) 83%);
	background-image: -o-linear-gradient(bottom, rgb(251,203,44) 32%, rgb(240,151,42) 66%, rgb(237,137,43) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(251,203,44) 32%, rgb(240,151,42) 66%, rgb(237,137,43) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(251,203,44) 32%, rgb(240,151,42) 66%, rgb(237,137,43) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(251,203,44) 32%, rgb(240,151,42) 66%, rgb(237,137,43) 83%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, rgb(251,203,44)),
		color-stop(0.66, rgb(240,151,42)),
		color-stop(0.83, rgb(237,137,43))
	);*/
	-webkit-border-radius: 8px;
	background-color:#948eb4;
	border-radius: 8px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	color:#FFFFF;
	width: 90px;
	height: 27px;
	border:0px;
	font-size: 14px;
	font-weight: bold;
}

form.form-horizontal input[type="submit"].submit_over{
	background-position: -100px 0px;
}

div.copyright{
	padding-top:20px;
	color:#8c8989;
	font-size: 0.72em;
	text-align: center;
}


.clear{
	clear:both;
}