/* 
    Document   : menu
    Created on : Dec 9, 2012, 11:34:25 PM
    Author     : rduran
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/* Menu */
.ui-menu {
    padding: 2px;
    margin: 0;
    display: block;
}

.ui-icon-close {
   background:url("#{resource['facturacion/images/iconos/submenu/cancel.png']}") no-repeat scroll top left !important;
   background-position: 0px 0px !important;
}

.ui-icon-pencil{
   background:url("#{resource['facturacion/images/iconos/producto.png']}") no-repeat scroll top left !important;
   background-position: 0px 0px !important;
	
}
/* .ui-icon-check{
   background:url("#{resource['facturacion/images/iconos/submenu/accept.png']}") no-repeat scroll top left !important;
   background-position: 0px 0px !important;
	
} */

.ui-icon-newwin{
	background:url("#{resource['facturacion/images/iconos/submenu/page_add.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
}
.ui-icon-person{
	background:url("#{resource['facturacion/images/iconos/submenu/user_suit.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
}
.ui-icon-note{
	background:url("#{resource['facturacion/images/iconos/submenu/report_go.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
	
}
.ui-icon-disk{
	background:url("#{resource['facturacion/images/iconos/submenu/disk.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
	
}

.ui-icon-eliminar{
	background:url("#{resource['facturacion/images/iconos/submenu/eliminar_p.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
}

.ui-icon-nuevo{
	background:url("#{resource['facturacion/images/iconos/submenu/nuevo_p.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
}

.ui-icon-editar{
	background:url("#{resource['facturacion/images/iconos/submenu/editar_p.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
	
}

.ui-icon-reporte{
	background:url("#{resource['facturacion/images/iconos/submenu/report_go.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
	
}

.ui-icon-guardar{
	background:url("#{resource['facturacion/images/iconos/submenu/guardar_p.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
	
}

.ui-icon-agregar{
	background:url("#{resource['facturacion/images/iconos/submenu/agregar.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
	
}

.ui-icon-cancelar{
	background:url("#{resource['facturacion/images/iconos/submenu/cancelar_p.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
	
}
 
.ui-icon-buscar{
	background:url("#{resource['facturacion/images/iconos/submenu/buscar_p.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
	
}

.ui-icon-ver{
	background:url("#{resource['facturacion/images/iconos/submenu/ver_p.png']}") no-repeat scroll top left !important;
    background-position: 0px 0px !important;
	
}

.ui-menuitem-link-hasicon {
    padding-left: 4em!important;
}
.ui-panelmenu .ui-menuitem-link {
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    font-weight: 400;
    line-height: 16px;
    outline: medium none;
    padding: 0.3em 0.3em 0.3em 3em !important;
    position: relative;
    text-decoration: none;
}

.ui-panelgrid tr, .ui-panelgrid td {
			border: 0 !important;
}

.ui-button{
	padding: 0.2em 0.2em 0.2em 0.2em !important;
}

/* .label, .input, .button, .select, .textarea {
    font-size: 10px!important;
    line-height: 12px!important;
}
.ui-inputfield {
    padding: 2.5px!important;
}	 */
	
 .ui-layout-unit .ui-layout-unit-content {
            padding: 0.2em 0em;
            border: 0px none;
            overflow: hidden !important;
 }
 
 .ui-datatable .ui-column-filter {
    width:85%!important;
}  	
.contenido_right {
	width: 37.8%;
	float: right;
	
}

.contenido_right h1{
	font-size: 17px;
	font-weight: 400;
	color: #ec3424;
	margin: 0px;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px solid #c9c7c0;
	width: 100%;
}
			