
div.menu .nav ul.menu li a.home{
	background: url('../images/iconos/menu_principal/home.png') no-repeat scroll top left;
	background-position: 8px 8px;
}

div.menu .nav ul.menu li a.home{
	background: url('../images/iconos/menu_principal/home.png') no-repeat scroll top left;
	background-position: 8px 8px;
}

div.menu .nav ul.menu li a.proyectos{
	background: url('../images/iconos/menu_principal/proyectos.png') no-repeat scroll top left;
	background-position: 8px 8px;
}


div.menu .nav ul.menu li a.usuarios{
	background: url('../images/iconos/menu_principal/usuarios.png') no-repeat scroll top left;
	background-position: 8px 8px;
}

div.menu .nav ul.menu li a.productos{
	background: url('../images/iconos/menu_principal/productos.png') no-repeat scroll top left;
	background-position: 8px 8px;
}

div.menu .nav ul.menu li a.permisos{
	background: url('../images/iconos/menu_principal/permisos.png') no-repeat scroll top left;
	background-position: 8px 8px;
}


div.menu .nav ul.menu li a.reportes{
	background: url('../images/iconos/menu_principal/reportes.png') no-repeat scroll top left;
	background-position: 8px 8px;
}

div.menu .nav ul.menu li a.catalogos{
	background: url('../images/iconos/menu_principal/catalogos.png') no-repeat scroll top left;
	background-position: 8px 8px;
}

div.menu .nav ul.menu li a.papelera{
	background: url('../images/iconos/menu_principal/papelera.png') no-repeat scroll top left;
	background-position: 8px 8px;
}
