
input::-webkit-input-placeholder  { color:#cdcdcd; }
input:-moz-placeholder { color:#cdcdcd; }
input:-ms-input-placeholder { color:#cdcdcd; }

.botonD a.cancelarD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/cancel.png']}") no-repeat scroll top left;
}

.botonD a.guardarD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/disk.png']}") no-repeat scroll top left;
}
.botonD a.buscarD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/buscar.png']}") no-repeat scroll top left;
}
.botonD a.aceptarD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/accept.png']}") no-repeat scroll top left;
}
.botonD a.visualizarD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/visualizar.png']}") no-repeat scroll top left;
}
.botonD a.aprobarD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/accept.png']}") no-repeat scroll top left;
}

.botonDesa {
background-image: linear-gradient(bottom, rgb(179,206,231) 32%, rgb(179,206,231) 66%, rgb(179,206,231) 83%);
 background-image: -o-linear-gradient(bottom, rgb(179,206,231) 32%, rgb(179,206,231) 66%, rgb(179,206,231) 83%);
 background-image: -moz-linear-gradient(bottom, rgb(179,206,231) 32%, rgb(179,206,231) 66%, rgb(179,206,231) 83%);
 background-image: -webkit-linear-gradient(bottom, rgb(179,206,231) 32%, rgb(179,206,231) 66%, rgb(179,206,231) 83%);
 background-image: -ms-linear-gradient(bottom, rgb(179,206,231) 32%, rgb(179,206,231) 66%, rgb(179,206,231) 83%);

 background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.32, rgb(179,206,231)),
  color-stop(0.66, rgb(179,206,231)),
  color-stop(0.83, rgb(179,206,231))
 );
 
 background-color:#ffa543;
 border-radius: 15px;
 padding:5px;
 padding-left:10px;
 padding-right:10px;
 color:#262625;
 width: 90px;
 height: 15px;
 border:0px;
 font-size: 12px;
 background-repeat:repeat-x;
 display:inline-block;
}

.botonDesa a{vertical-align:top; font-family:Verdana, Arial, sans-serif; font-size:10px; font-weight:bold; text-align:left; text-decoration:none; color:#000; padding-top:3px; padding-bottom:3px; padding-left:23px; padding-right:5px; background-repeat:no-repeat; overflow:auto; background-position:2px 2px;}

.botonDesa a.desaprobarD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	width:20px;
	background: url("#{resource['facturacion/images/iconos/submenu/cancel.png']}") no-repeat scroll top left;
}
.panel .inside .box .rf-edt{
	padding-bottom:20px;
}

.panel .inside .box  div.ui-layout-west{
	float:left;
	width:25%;
	margin-top:10px;
}

.panel .inside .box  div.ui-layout-west .bodyPanel2{
	background-color: #f1f1f1;
}
.panel .inside .box  div.ui-layout-west input[type="text"]{
	
}

.panel .inside .box  div.ui-layout-center{
	float:left;
	width:73%;
	
	
}

.panel .inside .box  div.ui-layout-center table.rf-dt{
	width:450px;
	empty-cells:show;
	border-collapse:collapsed;
}

.panel .inside .box  div.ui-layout-center table.rf-dt th{
	  position: relative;
}

.panel .inside .box  div.ui-layout-center table.rf-dt tbody{
	  height:100%;
	overflow:auto;
} 

.panel .inside .box .rf-edt{
	padding-bottom:20px;
}

.panel .inside .box .rf-edt input[type="text"]{ 
	height:13px;
	
}

.panel .inside .box .rf-edt select{ 
	height:25px;
	
}

.panel .inside .box .rf-edt .rf-edt-c{
	padding-top:-10px;
	padding-bottom:20px;
	text-align: right;	
}

*html .panel .inside .box .rf-edt .rf-edt-c{
	padding-top:-10px;
	padding-bottom:20px;
	text-align: right;	
}

.panel .inside .box .rf-edt .rf-edt-c input[type="text"]{
	font-size: 12px;
}

.panel .inside .box .rf-edt .rf-edt-hdr{
	background: url("#{resource['facturacion/images/fondo_table.png']}") repeat-x scroll top left;
	background-color: #737070;
	color:#FFFFFF;
}

.panel .inside .box .rf-edt .rf-edt-hdr a{
	color:#FFFFFF;
}

.panel .inside .box .rf-edt .rf-edt-hdr-c{
	border:0px;
}

.panel .inside .box .rf-edt .rf-edt-hdr-c label{
	color:#FFFFFF;
}

.panel .inside .box .rf-tab-cnt{
	background-color: #FFFFFF;
}

.panel .inside .box .content .inside .rf-p{
	background-color: #FDFDFD;
}

.panel .inside .box  div.ui-layout-center table.rf-dt{
	width:450px;
	empty-cells:show;
	border-collapse:collapsed;
}

.panel .inside .box  div.ui-layout-center table.rf-dt th{
	  position: relative;
}

.panel .inside .box  div.ui-layout-center table.rf-dt tbody{
	  height:100%;
	overflow:auto;
} 

.rf-p{
	margin-left:10px;
}
.rf-p-b{
	border:0px;
}

.panel .inside .box .content  .rf-p-hdr{
	background: url("#{resource['facturacion/images/fondo_header_cajas.png']}") repeat-x scroll top left;
	background-color:#eeeeee;
	border:1px;
	color:#434040;
	height:24px;
	padding-top:10px;
	padding-left:10px;
	font-family: Verdana, "MS Trebuchet", sans-serif;
}

.panel .inside .box .content .rf-ac-itm{
	background-color:#eeeeee;
}

.panel .inside .box .content .rf-ac-itm-hdr{
	background: url("#{resource['facturacion/images/fondo_header_cajas.png']}") repeat-x scroll top left;
	background-color:#eeeeee;
	border:1px;
	color:#434040;
	font-family: Verdana, "MS Trebuchet", sans-serif;
	width:120px;
}

.panel .inside .box .content .rf-dt th{
	background: url("#{resource['facturacion/images/fondo_table.png']}") repeat-x scroll top left;
	background-color: #737070;
	color:#FFFFFF;
}

.panel .inside .box .content .rf-dt td{
	font-family: Verdana, "MS Trebuchet", sans-serif;
}

.panel .inside .box .content .rf-dt th a{
	color:#FFFFFF;
	font-family: Verdana, "MS Trebuchet", sans-serif;
}


.panel .inside .box .content .rf-dt-hdr-c .rf-ds-btn{
	background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left;
	border:0px;
}

.panel .inside .box .content .rf-dt-hdr-c .rf-ds-btn a{
	color:#FFFFFF;
}

.panel .inside .box .content .rf-dt-hdr-c .rf-ds-dis{
		background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left; 
}

.panel .inside .box .content .rf-dt-ftr-c .rf-ds-btn{
	background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left;
	border:0px;
}

.panel .inside .box .content .rf-tb{
	background: none;
	/* background-color: #c4c1c1; */
	color:#000000;
	border:0px;
}

.panel .inside .box .content .rf-dt-ftr-c .rf-ds-dis{
		background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left; 
}
.panel .inside .box .content .rf-dt-ftr-c .rf-ds-btn a{
	color:#FFFFFF;
}

.panel .inside .box .content  .rf-p-b input[type="text"]{
	margin-right:10px;
	color: #6F6A6A;
}
 
.panel .inside .box .content  .rf-ds{
	border:0px Solid #9c9696;
	color:#FFFFFF;
}

.rf-ds-btn {
background: rgba(0, 0, 0, 0) url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll left top;
}

.panel .inside .box .content .rf-ds-nmb-btn{
	background: url("#{resource['facturacion/images/bg_page.png']}") repeat-x scroll top left; 
	background-color: #9c9696;
	border:0px;
}

.panel .inside .box .content  .rf-p select{
	margin-right:10px;
}

/* Menu */
div.menu .rf-ac-itm-hdr-act{
	background: url("#{resource['facturacion/images/fondo_boton.png']}")  repeat-x scroll top left;
	color:#3e3a3a;
	font-family: Verdana, "MS Trebuchet", sans-serif;
	border-bottom:1px Solid #00529F;
	width: 144px;
	height:35px;
	background-color:#b1b1b1;
}

div.menu.short .rf-ac-itm-hdr-act{
	width: 43px;
	font-size: 0px;
}

div.menu .rf-ac-itm-hdr-inact{
	background: url("#{resource['facturacion/images/fondo_boton.png']}") repeat-x scroll top left;
	font-family: Verdana, "MS Trebuchet", sans-serif;
	color:#3e3a3a;
	width: 144px;
	height:35px;
}

div.menu.short .rf-ac-itm-hdr-inact{
	width:43px;
	font-size: 0px;
}

div.menu .rf-ac-itm-cnt{
	background: url("#{resource['facturacion/images/bg_submenu2.png']}") repeat-x scroll top left;
	background-color:#8b8686;
	color:#FFFFFF;
	font-family: Verdana, "MS Trebuchet", sans-serif;
	width:130px;
}


div.menu.short .rf-ac-itm-cnt{
	width:23px;
}


div.menu.short .rf-ac-itm-cnt ul li a{
	width:23px;
	font-size: 0px;
}

.rf-ac-itm-cnt ul{
	margin:0px;
	padding:0px;
	list-style-type: none;	
}

li.rf-ulst-itm{
	list-style-type: none;
	margin:0px;
	padding:0px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:1px Solid #a6a2a2;
}

/* Iconos Menu */
div.menu .rf-ac-itm-hdr{
	padding:3px;
	margin:0px;
}

div.menu .rf-ac-itm .rf-ac-itm-hdr .rf-ac-itm-lbl-act,div.menu .rf-ac-itm .rf-ac-itm-hdr .rf-ac-itm-lbl-inact{
	padding-top:0px;
	padding-left:37px;
	height:30px;
}

/* Portal Proveedores*/
div.menu .rf-ac-itm.seguridad .rf-ac-itm-hdr .rf-ac-itm-lbl-act,  div.menu .rf-ac-itm.seguridad .rf-ac-itm-hdr .rf-ac-itm-lbl-inact{
	background: url("#{resource['facturacion/images/iconos/parametros.png']}") no-repeat scroll top left;
	background-position: 10px 4px;
}

div.menu .rf-ac-itm.proveedores .rf-ac-itm-hdr .rf-ac-itm-lbl-act,  div.menu .rf-ac-itm.proveedores .rf-ac-itm-hdr .rf-ac-itm-lbl-inact{
	background: url("#{resource['facturacion/images/iconos/proveedores.png']}") no-repeat scroll top left;
	background-position: 10px 8px;
}

div.menu .rf-ac-itm.productos .rf-ac-itm-hdr .rf-ac-itm-lbl-act,  div.menu .rf-ac-itm.productos .rf-ac-itm-hdr .rf-ac-itm-lbl-inact{
	background: url("#{resource['facturacion/images/iconos/productos.png']}") no-repeat scroll top left;
	background-position: 10px 8px;
}

div.menu .rf-ac-itm.informes .rf-ac-itm-hdr .rf-ac-itm-lbl-act,  div.menu .rf-ac-itm.informes .rf-ac-itm-hdr .rf-ac-itm-lbl-inact{
	background: url("#{resource['facturacion/images/iconos/reportes.png']}") no-repeat scroll top left;
	background-position: 10px 8px;
}

div.menu .rf-ac-itm.cambios .rf-ac-itm-hdr .rf-ac-itm-lbl-act,  div.menu .rf-ac-itm.cambios .rf-ac-itm-hdr .rf-ac-itm-lbl-inact{
	background: url("#{resource['facturacion/images/iconos/cambios.png']}") no-repeat scroll top left;
	background-position: 10px 4px;
}

div.menu .rf-ac-itm.calificacionCertificacion .rf-ac-itm-hdr .rf-ac-itm-lbl-act,  div.menu .rf-ac-itm.calificacionCertificacion .rf-ac-itm-hdr .rf-ac-itm-lbl-inact{
	background: url("#{resource['facturacion/images/iconos/calificacionCertificacion.png']}") no-repeat scroll top left;
	background-position: 10px 4px;
}

div.menu .rf-ac-itm.links .rf-ac-itm-hdr .rf-ac-itm-lbl-act,  div.menu .rf-ac-itm.links .rf-ac-itm-hdr .rf-ac-itm-lbl-inact{
	background: url("#{resource['facturacion/images/iconos/links.png']}") no-repeat scroll top left;
	background-position: 10px 8px;
}

div.menu .rf-ac-itm.salir .rf-ac-itm-hdr .rf-ac-itm-lbl-act,  div.menu .rf-ac-itm.salir .rf-ac-itm-hdr .rf-ac-itm-lbl-inact{
	background: url("#{resource['facturacion/images/iconos/home.png']}") no-repeat scroll top left;
	background-position: 10px 8px;
}

/* Iconos SubMenu */
li.rf-ulst-itm a{
	padding-left:30px;
	min-height:25px;
}

li.rf-ulst-itm a.listado{
	background: url("#{resource['facturacion/images/iconos/usuarios_add.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.rolesListado{
	background: url("#{resource['facturacion/images/iconos/usuarios.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.departamento{
	background: url("#{resource['facturacion/images/iconos/departamento.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.itemsListado{
	background: url("#{resource['facturacion/images/iconos/menu.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.jerarquia{
	background: url("#{resource['facturacion/images/iconos/jerarquia.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.eventos{
	background: url("#{resource['facturacion/images/iconos/eventos.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.tareasProgramadas{
	background: url("#{resource['facturacion/images/iconos/tareasProgramadas.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.permisos{
	background: url("#{resource['facturacion/images/iconos/permisos.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.descargar{
	background: url("#{resource['facturacion/images/iconos/submenu/down2.png']}") no-repeat scroll top left;
	background-position: 0px 0px;
}

/*Submenu Proveedores*/
li.rf-ulst-itm a.proveedoresListado{
	background: url("#{resource['facturacion/images/iconos/proveedoresListado.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.proveedoresReset{
	background: url("#{resource['facturacion/images/iconos/reset.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.proveedoresCronograma{
	background: url("#{resource['facturacion/images/iconos/agenda.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.campanias{
	background: url("#{resource['facturacion/images/iconos/campanias.png']}") no-repeat scroll top left;
	background-position: 0px 0px;
}

/*Submenu Productos*/
li.rf-ulst-itm a.nuevoProducto{
	background: url("#{resource['facturacion/images/iconos/nuevoProducto.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.validarProducto{
	background: url("#{resource['facturacion/images/iconos/aprobacionPresentacion.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.asignacionProducto{
	background: url("#{resource['facturacion/images/iconos/asignacionProducto.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.vademecum{
	background: url("#{resource['facturacion/images/iconos/vademecum.png']}") no-repeat scroll top left;
	background-position: 0px 2px;
}

/*Submenu Informes*/
li.rf-ulst-itm a.ordenCompra{
	background: url("#{resource['facturacion/images/iconos/ordenCompra.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.ventasStock{
	background: url("#{resource['facturacion/images/iconos/ventasStock.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}


/*Submenu Cambios*/
li.rf-ulst-itm a.cambioPrecio{
	background: url("#{resource['facturacion/images/iconos/precio.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.cambioPresentacion{
	background: url("#{resource['facturacion/images/iconos/presentacion.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.cambioCodigoBarras{
	background: url("#{resource['facturacion/images/iconos/codigoBarras.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.aprobacionPrecio{
	background: url("#{resource['facturacion/images/iconos/aprobacionPrecio.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.aprobacionPresentacion{
	background: url("#{resource['facturacion/images/iconos/aprobacionPresentacion.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.aprobacionCodigoBarras{
	background: url("#{resource['facturacion/images/iconos/codigoBarras.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

/*Submenu Calificaciones y Certificaciones*/
li.rf-ulst-itm a.calificacion{
	background: url("#{resource['facturacion/images/iconos/calificacion.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.certificacion{
	background: url("#{resource['facturacion/images/iconos/certificacion.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

/*Submenu Links Enlaces*/
li.rf-ulst-itm a.promocion{
	background: url("#{resource['facturacion/images/iconos/promocion.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.puntoVenta{
	background: url("#{resource['facturacion/images/iconos/puntoVenta.png']}") no-repeat scroll top left;
	background-position: 0px 8px;
}

li.rf-ulst-itm a.link{
	background: url("#{resource['facturacion/images/iconos/link.png']}") no-repeat scroll top left;
	background-position: 0px 2px;
}

/*Submenu Salir*/
li.rf-ulst-itm a.salir{
	background: url("#{resource['facturacion/images/iconos/salir.png']}") no-repeat scroll top left;
	background-position: 0px 0px;
}

li.rf-ulst-itm a.inicio{
	background: url("#{resource['facturacion/images/iconos/home.png']}") no-repeat scroll top left;
	background-position: 0px 0px;
}

table.rf-cal-popup {
	display:block;  
	position:absolute;
	z-index:1; 
	left:-1px;
	top:-1px;    
}

div.menu .rf-ac-itm-cnt a{
	color:#FFFFFF;
	font-family: Verdana, "MS Trebuchet", sans-serif;
	display:block;
}

div.menu.short .rf-ac-itm-cnt a{
	display:block;
	height:30px;
}

.rf-pp{
	background-color: #00529F;
}

.rf-pp-cnt table input[type="submit"],.rf-ac table input[type="submit"]{
background-image: linear-gradient(bottom, rgb(0,107,207) 32%, rgb(0,82,159) 66%, rgb(0,82,159) 83%);
	background-image: -o-linear-gradient(bottom, rgb(0,107,207) 32%, rgb(0,82,159) 66%, rgb(0,82,159) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(0,107,207) 32%, rgb(0,82,159) 66%, rgb(0,82,159) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,107,207) 32%, rgb(0,82,159) 66%, rgb(0,82,159) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(0,107,207) 32%, rgb(0,82,159) 66%, rgb(0,82,159) 83%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, rgb(0,107,207)),
		color-stop(0.66, rgb(0,82,159)),
		color-stop(0.83, rgb(0,82,159))
	);
	-webkit-border-radius: 8px;
	background-color:#ffa543;
	border-radius: 8px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	color:#262625;
	width: 90px;
	height: 27px;
	border:0px;
	font-size: 12px;
	font-weight: bold;
}

/*  Estilos SKIN  */

/* Table Flex Box */

.rf-pp-cnt{
	background-color: #f1f1f1;
}

/* Fin Table Flex Box*/

div.rf-pp-cntr table.rf-dt th{
	background: url("#{resource['facturacion/images/fondo_table.png']}") repeat-x scroll top left;
	background-color: #737070;
	color:#FFFFFF;
}

div.rf-pp-cntr table.rf-dt td{
	font-family: Verdana, "MS Trebuchet", sans-serif;
}

.panel .inside .box .rf-tab-cnt{
	background-color: #FFFFFF;
}


div.menu.short .rf-ac-itm-cnt{
	width:23px;
}


div.menu.short .rf-ac-itm-cnt ul li a{
	width:23px;
	font-size: 0px;
}

.rf-ac-itm-cnt ul{
	margin:0px;
	padding:0px;
	list-style-type: none;	
}

.rf-pp-cnt table input[type="submit"],.rf-ac table input[type="submit"]{
background-image: linear-gradient(bottom, rgb(251,203,44) 32%, rgb(240,151,42) 66%, rgb(237,137,43) 83%);
	background-image: -o-linear-gradient(bottom, rgb(251,203,44) 32%, rgb(240,151,42) 66%, rgb(237,137,43) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(251,203,44) 32%, rgb(240,151,42) 66%, rgb(237,137,43) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(251,203,44) 32%, rgb(240,151,42) 66%, rgb(237,137,43) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(251,203,44) 32%, rgb(240,151,42) 66%, rgb(237,137,43) 83%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, rgb(251,203,44)),
		color-stop(0.66, rgb(240,151,42)),
		color-stop(0.83, rgb(237,137,43))
	);
	-webkit-border-radius: 8px;
	background-color:#ffa543;
	border-radius: 8px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	color:#262625;
	width: 90px;
	height: 27px;
	border:0px;
	font-size: 12px;
	font-weight: bold;
}



.rf-pp-cnt{
	background-color: #f1f1f1;
}

/* Fin Table Flex Box*/

div.rf-pp-cntr table.rf-dt th{
	background: url("#{resource['facturacion/images/fondo_table.png']}") repeat-x scroll top left;
	background-color: #737070;
	color:#FFFFFF;
}

div.rf-pp-cntr table.rf-dt td{
	font-family: Verdana, "MS Trebuchet", sans-serif;
}

div.rf-pp-cntr table.rf-dt th a{
	color:#FFFFFF;
	font-family: Verdana, "MS Trebuchet", sans-serif;
}

div.rf-pp-cntr table.rf-dt .rf-dt-hdr-c .rf-ds-btn{
	background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left;
	border:0px;
}

div.rf-pp-cntr table.rf-dt .rf-dt-hdr-c .rf-ds-btn a{
	color:#FFFFFF;
}

div.rf-pp-cntr table.rf-dt .rf-dt-hdr-c .rf-ds-dis{
		background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left; 
}

div.rf-pp-cntr table.rf-dt .rf-dt-ftr-c .rf-ds-btn{
	background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left;
	border:0px;
}

div.rf-pp-cntr table.rf-dt .rf-tb{
	background: none;
	background-color: #c4c1c1;
	color:#000000;
	border:0px;
}

div.rf-pp-cntr table.rf-dt .rf-dt-ftr-c .rf-ds-dis{
		background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left; 
}
div.rf-pp-cntr table.rf-dt .rf-dt-ftr-c .rf-ds-btn a{
	color:#FFFFFF;
}

div.rf-pp-cntr table.rf-dt .rf-ds-nmb-btn{
	background: url("#{resource['facturacion/images/bg_page.png']}") repeat-x scroll top left; 
	background-color: #9c9696;
	border:0px;
}









div.rf-pp-cntr table.rf-dt th a{
	color:#FFFFFF;
	font-family: Verdana, "MS Trebuchet", sans-serif;
}

div.rf-pp-cntr table.rf-dt .rf-dt-hdr-c .rf-ds-btn{
	background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left;
	border:0px;
}

div.rf-pp-cntr table.rf-dt .rf-dt-hdr-c .rf-edt-hdr-c-cnt .rf-edt-tbl-hdr .rf-ds-btn a{
	color:#FFFFFF;
}

div.rf-pp-cntr table.rf-dt .rf-dt-hdr-c .rf-ds-dis{
		background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left; 
}

div.rf-pp-cntr table.rf-dt .rf-dt-ftr-c .rf-ds-btn{
	background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left;
	border:0px;
}

div.rf-pp-cntr table.rf-dt .rf-tb{
	background: none;
	background-color: #c4c1c1;
	color:#000000;
	border:0px;
}

div.rf-pp-cntr table.rf-dt .rf-dt-ftr-c .rf-ds-dis{
		background: url("#{resource['facturacion/images/fondo_boton_table.png']}") repeat-x scroll top left; 
}
div.rf-pp-cntr table.rf-dt .rf-dt-ftr-c .rf-ds-btn a{
	color:#FFFFFF;
}

div.rf-pp-cntr table.rf-dt .rf-ds-nmb-btn{
	background: url("#{resource['facturacion/images/bg_page.png']}") repeat-x scroll top left; 
	background-color: #9c9696;
	border:0px;
}

.panel .inside .box  a.nuevoD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/page_add.png']}") no-repeat scroll top left;
}

.panel .inside .box  div.ui-layout-west{
	float:left;
	width:25%;
	margin-top:10px;
}

.panel .inside .box  div.ui-layout-west .bodyPanel2{
	background-color: #f1f1f1;
}

.panel .inside .box  div.ui-layout-west .bodyPanelFechas{
	background-color: #f1f1f1;
	position: inherit;
}

.panel .inside .box  div.ui-layout-west input[type="text"]{
	
}

.panel .inside .box  div.ui-layout-west select{
	
}

.panel .inside .box  div.ui-layout-center{
	float:left;
	width:73%;

}

.panel .inside .box  div.ui-layout-center table.rf-dt{
	width:450px;
	empty-cells:show;
	border-collapse:collapsed;
}

.panel .inside .box  div.ui-layout-center table.rf-dt th{
	  position: relative;
}

.panel .inside .box  div.ui-layout-center table.rf-dt tbody{
	  height:100%;
	overflow:auto;
}

.rf-cst-shdr-c {
	background-color: #BBBBB9;
	text-align: center;
}
.rf-pick-src-cptn{
	background-color: #C13737;
}
.rf-pick-tgt-cptn{
	background-color: #C13737;
}

.panel .inside .box  a.descargaD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/down2.png']}") no-repeat scroll top left;
}
.panel .inside .box  a.colaborarD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/colaboradores.png']}") no-repeat scroll top left;
}

.panel .inside .box  a.sobreescribirD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/sobreescribir.png']}") no-repeat scroll top left;
}
.panel .inside .box  a.duplicarD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/submenu/duplicarversion.png']}") no-repeat scroll top left;
	width:10%;
}
.panel .inside .box  a.reporteD{
	background-color: #FFFFFF;
	border:0px;
	background-image: none;
	background: url("#{resource['facturacion/images/iconos/reportes.png']}") no-repeat scroll top left;
}
li.rf-ulst-itm a.editarPerfil{
	background: url("#{resource['facturacion/images/iconos/editarPerfil.png']}") no-repeat scroll top left;
	background-position: 0px 0px;
}
input[class=input-large] {
    width: 400px;
}
.contenido_right {
	width: 20.8%;
	float: right;
	
}

.contenido_right h1{
	font-size: 17px;
	font-weight: 400;
	color: #ec3424;
	margin: 0px;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px solid #c9c7c0;
	width: 100%;
}

.alignTop {
vertical-align: top;
}

.texto_titulo {
	color: #DC281E;
}

.withCalendarConsulta  input {
	width: 150px !important
}

.styleTitulos {
	font-size:14px; 
	color: #9391FB; 
	float: right; 
	font-weight: bold;
}
.centered {
text-align: center;
margin-left: 50%;
}

.panelGridCenter {
    margin: 0 auto;
}


