/* 
    Document   : default
    Created on : Nov 28, 2012, 7:28:17 PM
    Author     : rduran
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 0px;
}

h1 {
    float: left;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

a:link, a:visited {
    font-size: 12px;
    text-decoration: underline;
}

a:link:hover, a:visited:hover  {
    color: dodgerblue;
    font-size: 12px;
    text-decoration : underline;
}

#wrapper{
    width: 100%;
    margin: auto;
}

#header{
    padding: 5px;
}

#top img{
    float: left;
    margin: 0px 0px 0px 20px;
}

#header h1{
    margin-left: 5px;
    margin-top: 13px;
}

#welcomePanel{
    float: right;
    margin-top: 20px;
}

.textoFormulario{
    color: red;
    font-size: 10px;
}

#welcomePanel label{
    font-size: 12px;
}

#mainMenu{
    clear: both;
}

#footerMessage1{
    float:  left;
}

#footerMessage2{
    float: right;
}

#bottom{
    font-size: 11px;
    color: #045491;
}

.rowAlert{
    background-color: #00FFFF;
}

.rowSevere{
    background-color: red;
}

.ui-widget{
    font-size: 0.98em;
}

