/* 
    Document   : menu
    Created on : Dec 9, 2012, 11:34:25 PM
    Author     : rduran
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/* Menu */
.ui-menu {
    padding: 2px;
    margin: 0;
    display: block;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-submenu-label {
    padding: 0.3em 0.5em;
}

.ui-menu ul {
    padding:2px;
    margin:0;
    list-style: none;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    width: 100%;
    position: relative;
}

.ui-menu .ui-menu-item .ui-menu-item-label {
    text-decoration: none;
    display: block;
    padding: .2em 1.5em;
    line-height: 1.5;
    zoom: 1;
    font-weight: normal;
    white-space: nowrap;
}

.ui-menu li.ui-state-hover,
.ui-menu li.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

.ui-menubar .bd li.ui-state-hover,
.ui-menubar .bd li.ui-state-active {
    margin: -1px;
}

.ui-menu-item:focus,
.ui-menu-item-label:focus,
.ui-menubar-item:focus,
.ui-menubar-item-label:focus {
    outline: none;
}

.ui-menu .ui-menu-item-submenu-icon {
    position:absolute;
    top: 0.2em;
    right:0.2em;
}

/* Menubar */
.ui-menubar .bd ul li {
    list-style-type: none;    
}

.ui-menubar .bd ul, 
.ui-menubar .bd li {
    margin: 0;
    padding: 0;
}

.ui-menubar-item-label {
    text-align: left;
    white-space: nowrap;
}

.ui-menubar ul {
    zoom: 1;
    border:none !important;
}

.ui-menubar .ui-menu ul {
    zoom: normal;
}

.ui-menubar>.bd>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.ui-menubar-item {
    float: left;
}

.ui-menubar-item-label {
    display: block;
}

.ui-menu-item-label .helptext {
    font-style: normal;
    display: block;
    margin: -1em 0 0 10em;
}

.ui-menu-item-label .helptext {
    margin-top: -1.5em;
    margin-top: -1.2em;  /* For IE*/
}

.ui-menubar-item-label {
    border: 0 none;
    padding: 4px 24px;
}

.ui-widget-content .ui-menu-item a.ui-menu-item-label {
    color:inherit;
}

.ui-widget-content .ui-menu-item a.ui-menu-item-label {
    border: inherit;
    padding: inherit;
}

.ui-menu.ui-widget {
    border: 0px;
    padding: 0px;
}

/** PanelMenu **/
.ui-panelmenu { 
    width: auto; 
}

.ui-panelmenu .ui-panelmenu-panel { 
    padding: 0;
    margin: 0;
}

.ui-panelmenu .ui-panelmenu-header { 
    cursor: pointer; 
    position: relative; 
    margin: 0;
    zoom: 1; 
}

.ui-panelmenu .ui-panelmenu-header a { 
    display: block;
    font-size: 12px;
    padding: .5em .5em .5em 2.2em; 
    text-decoration:none;
}

.ui-panelmenu .ui-panelmenu-header a:hover { 
    color: dodgerblue;
    text-decoration: underline;

}

.ui-panelmenu .ui-panelmenu-header .ui-icon { 
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.ui-panelmenu .ui-panelmenu-content { 
    padding: 0.2em 0 0.2em 0.2em;
    border-top: 0; 
    margin-top: -2px; 
    position: relative; 
    top: 1px; 
    overflow: auto; 
    zoom: 1; 
}

.ui-panelmenu .ui-panelmenu-header.ui-state-disabled, 
.ui-panelmenu .ui-panelmenu-header.ui-state-disabled a { 
    cursor: default; 
}

.ui-panelmenu .ui-menu-list { 
    position: static; 
}

.ui-panelmenu .ui-menuitem {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;
}

.ui-panelmenu .ui-menuitem-link {
    display:block;
    width:92%;
    outline:none;
    text-decoration:none;
    font-weight:400;
    border:solid 1px transparent;
    float:left;
    line-height:16px;
    padding:0.3em;
    cursor: pointer;
}

.ui-panelmenu .ui-icon {
    display:inline-block;
    float:left;
}

.ui-panelmenu .ui-menuitem-text {
    float:left;
}

.ui-panelmenu .ui-menu-parent .ui-menu-list {
    display: none;
    margin-left: 20px;
}

.contenido_right {
	width: 47.8%;
	float: right;
	
}

.contenido_right h1{
	font-size: 17px;
	font-weight: 400;
	color: #ec3424;
	margin: 0px;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px solid #c9c7c0;
	width: 100%;
}

