/* 
    Document   : primefaces
    Created on : Dec 23, 2012, 2:36:02 PM
    Author     : rduran
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.ui-widget-header {
    color: #0088CC;
    font-weight: 500;
}

/*
    panelgrig
*/
.ui-panelgrid td {
    border-width: 0px;
    border-style: hidden !important;
    border-color: inherit;
    padding:4px 10px;
    border: transparent;
}

.ui-panelgrid tr{
    border: transparent;
}

/*
    panel
*/            
.ui-panel-content {
    padding: 0px !important;
}

.ui-panel {
    padding: 0px;
}

/*
    accodion panel
*/
.ui-accordion .ui-accordion-header { 
    cursor: pointer; 
    position: relative; 
    margin-top: 1px; 
    zoom: 1; 
}

.ui-accordion .ui-accordion-header a { 
    display: block; 
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
    padding: .5em .5em .5em 2.2em; 
}

.ui-accordion .ui-accordion-header a:hover { 
    color: dodgerblue;
    text-decoration: underline;

}

.ui-accordion .ui-accordion-header .ui-icon { 
    position: absolute; 
    left: .5em; 
    top: 50%; 
    margin-top: -8px; 
}

.ui-accordion .ui-accordion-content { 
    padding: 1em 2.2em; 
    border-top: 0; 
    margin-top: -2px; 
    position: relative; 
    top: 1px; 
    margin-bottom: 2px; 
    overflow: auto;
    zoom: 1; 
}

.ui-accordion .ui-accordion-header.ui-state-disabled, .ui-accordion .ui-accordion-header.ui-state-disabled a { 
    cursor: default; 
}

.ui-accordion .ui-accordion-content-active {
    display: block;
}

.ui-accordion { 
    width: 100%; 
}

/*
    inputfield
*/
.ui-inputfield {
    text-transform: uppercase;
}

/*
    selectonemenu
*/
.ui-selectonemenu{
    font-size:12px !important;
}

/*
    dialog
*/
.ui-dialog.ui-widget-content .ui-dialog-title{
    font-size: 20px;
    font-weight: normal;
    color: black;
}

/*
    overlaypanel
*/
.ui-overlaypanel{
    padding: 0px;
}

/*
    master-detail
*/
.pe-master-detail .ui-breadcrumb {
    font-size: 12px;
    font-weight: bold;
    background-color: transparent; 
}

.ui-breadcrumb a {
    font-weight: 500;
}

/*
    datatable
*/
.ui-datatable table {
    padding:0;
    margin:0;
}

.ui-datatable th .ui-datatable-liner {
    white-space:nowrap;
    float:left;
}

.ui-datatable-liner {
    margin:0;
    padding:0;
    padding:4px 10px 4px 10px; /* cell padding */
}

th .ui-datatable-label {
    position:relative;
}

.ui-datatable table thead th.ui-state-default {
    border-style:solid solid solid solid;
}

.ui-datatable .ui-datatable-data td {
    border-bottom-color:inherit;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-right-color:inherit;
    border-right-style:solid;
    border-right-width:1px;
}

.ui-datatable table thead th.ui-datatable-last,
.ui-datatable .ui-datatable-data td.ui-datatable-last {
    border-right-style: none;
}

.ui-datatable .ui-datatable-data tr.ui-datatable-last td {
    border-bottom-style: none;
}

.ui-datatable table {
    border-spacing:0;
} 

.ui-datatable thead {
    border-spacing:0;
}

.ui-datatable-sortable {
    cursor:pointer;
}

.ui-datatable-hidden {
    display: none;
}

.ui-datatable .ui-datatable-data tr.ui-state-hover,
.ui-datatable .ui-datatable-data tr.ui-state-active {
    font-weight: normal;
    border-style: solid;
    cursor: pointer;
}

.ui-datatable .ui-datatable-data td.ui-state-hover,
.ui-datatable .ui-datatable-data td.ui-state-active {
    font-weight: normal;
    border-style: none solid solid none;
    cursor: pointer;
}

.ui-widget-header .ui-state-error {
    color: inherit;
}

.ui-widget-content .ui-state-error {
    color: inherit;
}