<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core" 
	  xmlns:p="http://primefaces.org/ui">
	
<f:view contentType="text/html">
	<h:head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<h:outputScript library="facturacion" name="/js/modernizr.custom.84287.js"/>
		<h:outputScript library="facturacion" name="js/interfaz.js"/>
		<h:outputScript library="js" name="base.js" />
		<h:outputScript library="facturacion" name="js/validaciones.js"/>
        <h:outputScript library="js" name="jsfcrud.js" />
        <h:outputScript library="js" name="ruc_jquery_validator.js" />
        <h:outputScript library="js" name="jquery.validate.js" />
        <h:outputScript library="js" name="validacion.js" />
		<script type="text/javascript">
			if(history.forward(1)){
				history.replace(history.forward(1));
			}
		</script>
		<script type="text/javascript" src="#{request.contextPath}/resources/js/validacion.js"></script>
		<ui:insert name="head" />
	
		
		
		<link rel="icon" href="#{request.contextPath}/resources/facturacion/images/iconos/agua.ico" type="image/x-icon"/>
		
		<h:outputStylesheet library="facturacion" name="css/bootstrap/bootstrap.css" />
		<h:outputStylesheet library="facturacion" name="css/bootstrap/bootstrap-responsive.css" />
		<h:outputStylesheet library="facturacion" name="css/styleMen.css" />
		<h:outputStylesheet library="facturacion" name="css/style1.css" />
		<h:outputStylesheet library="facturacion" name="css/menus.css"/>
		<h:outputStylesheet library="facturacion" name="css/base.css" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1"/>		
				
		<ui:insert name="head" />
		
		<title>
			<ui:insert name="title">
				SISTEMA DE FACTURACI&#211;N PESILLO IMBABURA
			</ui:insert>
		</title>
	
	</h:head>
						
	<h:body class="big">
	<div id="main_container" class="wrapper">
	<div id="header">
	<div id="menu2" class="banner">
	
	</div>	
    <div class="texto_header">
   <br />
   
             <center><a class="texto_header"><h:graphicImage library="facturacion" name="images/factura.png"/>Sistema de Gesti&#243;n Administrativa</a></center>
   
   <br />
   <br />
    </div>
    	
    	
    	 <div id="menu">
                <ul> 
                <li class="roows">
                <h:link id="Inicio" style=" font-size:13px; color: #FFFFFF;
                 float:left !important;" class="nav_principal_a" value="Inicio" 
                 outcome="/page/index2.jsf">
                 </h:link>
                 </li>
				<li class="roows">
                <h:link id="Ingreso" style=" font-size:13px; color: #FFFFFF;
                 float:left !important;" class="nav_principal_a" value="Menu" 
                 outcome="/page/menu.jsf">
                 </h:link>
                 </li>				
<!--                 <li class="roows"> -->
<!--                 <h:link id="Geor" style=" font-size:13px; color: #FFFFFF; -->
<!--                  float:left !important;" class="nav_principal_a" value="Georeferenciaci&#243;n"  -->
<!--                  outcome="/page/index2.jsf"> -->
<!--                  </h:link> -->
<!--                  </li>		 -->
<!--                  <li class="roows"> -->
<!--                 <h:link id="Contactanos" style=" font-size:13px; color: #FFFFFF; -->
<!--                  float:left !important;" class="nav_principal_a" value="Contactenos"  -->
<!--                  outcome="/page/index2.jsf"> -->
<!--                  </h:link> -->
<!--                  </li>		 -->
                 <p:commandLink styleClass="cerrar_sesion"  id="cerrarSesion" actionListener="#{loginController.logout()}" 
                  ajax="true" process="@this">
			        <h:outputText value="Cerrar Sesión" />
			    </p:commandLink>
			    
            </ul>
        </div>
    </div> 
    <div id="wrapperI" class="session_style">
							<h1 class="titulo_style_session">
								Bienvenido(a)&nbsp;
							</h1>
							<b>Usuario:&nbsp;<h:outputText value="#{loginDatamanager.nombreUsuario}"/></b>
							<br />
							<h:panelGroup rendered="#{loginDatamanager.sectorSeleSec!=null}">
							<b>Sector:&nbsp;<h:outputText value="#{loginDatamanager.sectorSeleSec.nomSec}"/></b>
							</h:panelGroup>
    </div>
    
    <div id="wrapperIE" class="wrapper_consulta">
    <div>
	<h1 class="titulo_style_pantallas" align="right">
	<h:outputText value="#{tituloPaginaActual}" styleClass="titulosPrincipales"/>
	</h1>
    </div>	
    <div class="contenido_info" align="left">
							<div class="campos_consulta" >
								<p:messages id="mensajes" autoUpdate="true" closable="true" />
								<ui:insert name="contentBody" />
							</div>
						</div>

	<div>
  	 <h:form id="#{idForm}">
		 <ui:insert name="contentCenter">
		 </ui:insert>
	 </h:form>
    </div>
	</div>	
    
    
	
	
	</div>
	</h:body>


					
			
			
</f:view>
</html>