<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutLogin.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">
	<ui:param name="idForm" value="frmAdmLogin" />
	<ui:param name="controlador" value="#{loginController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />

	<ui:define name="contentCenter">
	<p:messages id="msgs" />
	
	<h:form id="loginForm">
	
		<h:panelGrid columns="1" styleClass="panelGridCenter">
			<h:outputLabel value="Usuario" style="width:30px;text-align:right"/>
			
			<p:inputText id="usuarioIdlog" value="#{loginDatamanager.nombreUsuario}" required="true" 
				requiredMessage="El campo usuario es requerido" />
		
			<h:outputLabel  value="Contraseña" style="width:30px;text-align:center"/>
			
			<p:password value="#{loginDatamanager.password}" required="true" 
			requiredMessage="El campo contrase&#241;a es requerido"/>
			
			
			</h:panelGrid>
			<br />
			<p:separator styleClass="separador"></p:separator>
			<h:panelGrid columns="1" styleClass="panelGridCenter">
			<p:commandButton value="Ingresar"
					 style="width:101px;"
					 styleClass="btn btn-success"
					 update=":frmAdmLogin"
					 ajax="true" process="@form loginForm"
					 actionListener="#{loginController.ingresar}"/>	
			</h:panelGrid>
		</h:form>
	</ui:define>
	
</ui:composition>
