<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{cuentaController.formul}" />
	<ui:param name="controlador" value="#{cuentaController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.administrar.cuenta']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.administrar.cuenta']}" />


	<ui:define name="contentCenter">
		<h:outputText value="#{controlador.formul}"></h:outputText>


		<h:panelGroup id="panelNuevo">

			<h:form id="formUsu">
				<h:panelGrid columns="6" cellpadding="10" cellspacing="10">

					<h:outputLabel value="Cédula:" for="cedula" />
					<p:inputText id="cedula"
						value="#{cuentaDatamanager.usuarioFormul.cedUsu}" required="true"
						requiredMessage="Cédula es requerido." disabled="true" />

					<h:outputLabel value="Nombre:" for="nombre" />
					<p:inputText id="nombre"
						value="#{cuentaDatamanager.usuarioFormul.nomUsu}" required="true"
						requiredMessage="Nombre es requerido." disabled="true" />

					<h:outputLabel value="Dirección:" />
					<p:inputText value="#{cuentaDatamanager.usuarioFormul.dirUsu}"
						required="true" requiredMessage="Dirección es requerido."
						disabled="true" />

					<h:outputLabel value="Teléfono:" />
					<p:inputText value="#{cuentaDatamanager.usuarioFormul.telUsu}"
								disabled="true" />

					<h:outputLabel value="Celular:" />
					<p:inputText value="#{cuentaDatamanager.usuarioFormul.celUsu}" 
								disabled="true"/>

					<h:outputLabel value="N° de familiares:" />
					<p:inputText value="#{cuentaDatamanager.usuarioFormul.numFam}"
						required="true" requiredMessage="N° de familiares es requerido."
						disabled="true" />

					<h:outputLabel value="Identidad Etnica:" />
					<p:selectOneMenu id="EtniaOne"
						value="#{cuentaDatamanager.usuarioFormul.etnUsu}" effect="fold"
						style=" width: 150px;" required="true"
						requiredMessage="Identidad Etnica es requerido."
						disabled="true">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItem itemLabel="Mestizo" itemValue="mestizo" />
						<f:selectItem itemLabel="Indigena" itemValue="indigena" />
						<f:selectItem itemLabel="Blanco" itemValue="blanco" />
						<f:selectItem itemLabel="Afroecuatoriano"
							itemValue="afroecuatoriano" />
						<f:selectItem itemLabel="Montubio" itemValue="montubio" />
						<f:selectItem itemLabel="Mulato" itemValue="mulato" />
					</p:selectOneMenu>
				</h:panelGrid>

				<p:separator styleClass="separador"></p:separator>

				<h:panelGrid columns="6" cellpadding="10" cellspacing="10">
					<h:outputLabel value="Nombre de usuario:" />
					<p:inputText
						value="#{cuentaDatamanager.usuarioFormul.loginDTO.nomUser}"
						required="true" requiredMessage="Nombre de usuario requerido." 
						/>

					<h:outputLabel for="contr1" value="Contraseña: *" />
					<p:password id="contr1" value="#{cuentaDatamanagercontrasena}"
						match="contr2" label="Password "
						validatorMessage="Contraseñas no coinciden" />

					<h:outputLabel for="contr2" value="Confirmar Contraseña: *" />
					<p:password id="contr2" value="#{cuentaDatamanager.contrasena}"
						label="Password 2" validatorMessage="Contraseñas no coinciden" />
				</h:panelGrid>



				<p:separator styleClass="separador"></p:separator>
				<h:panelGroup styleClass="barraInferior">

					<p:commandButton value="Guardar"
						actionListener="#{cuentaController.guardar}"
						icon="ui-icon-guardar" style="width:101px;"
						styleClass="btn btn-success" update=":frmAdm :frmAdm:panelNuevo"
						ajax="true" process="@form formUsu" />

				</h:panelGroup>
			</h:form>
		</h:panelGroup>

	</ui:define>
</ui:composition>
