<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{eventosController.formul}" />
	<ui:param name="controlador" value="#{eventosController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.eventos']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.eventos']}" />


	<ui:define name="contentCenter">
		<h:outputText value="#{controlador.formul}"></h:outputText>


		<h:panelGroup id="panelNuevo"
			rendered="#{eventosDatamanager.verPantalla=='N'}">

			<h:form id="formReg">
				<h:panelGrid columns="4" cellpadding="10" cellspacing="10">

					<h:outputLabel value="Título:" for="titulo" />
					<p:inputText id="titulo"
						value="#{eventosDatamanager.formulEventos.tituloEvento}"
						required="true" requiredMessage="Título evento es requerido" />

					<h:outputLabel value="Descripción:" for="descripcion" />
					<p:inputTextarea id="descripcion" rows="5" cols="50"
						value="#{eventosDatamanager.formulEventos.descripcionEvent}"
						requiredMessage="Descripción evento es requerido" />

				</h:panelGrid>



				<p:separator styleClass="separador"></p:separator>
				<h:panelGroup styleClass="barraInferior">

					<p:commandButton value="Guardar"
						actionListener="#{eventosController.guardar()}"
						icon="ui-icon-guardar" style="width:101px;"
						styleClass="btn btn-success" update=":frmAdm :frmAdm:panelNuevo"
						ajax="true" process="@form formReg" />

					<p:commandButton value="Cancelar"
						actionListener="#{eventosController.accion('C')}"
						icon="ui-icon-cancelar" styleClass="btn btn-primary"
						update=":frmAdm :frmAdm" ajax="true" process="@this" />

				</h:panelGroup>
			</h:form>
		</h:panelGroup>

		<h:panelGroup id="panelConsulta"
			rendered="#{eventosDatamanager.verPantalla=='C'}">

			<h:form>
				<h:panelGrid columns="2" cellpadding="10" cellspacing="10">

					<p:outputLabel for="img" value="Imagenes: " />
					<p:selectOneMenu id="img" value="#{eventosDatamanager.imagenes}"
						style="width:150px" required="false" requiredMessage="Seleccionar imagen a reemplazar es requerido.">
						<p:ajax listener="#{eventosController.eventoDrop}"/>
						<f:selectItem itemLabel="Seleccione" itemValue=""
							noSelectionOption="true" />
						<f:selectItem itemLabel="Imagen 1" itemValue="1.jpg" />
						<f:selectItem itemLabel="Imagen 2" itemValue="2.jpg" />
						<f:selectItem itemLabel="Imagen 3" itemValue="3.jpg" />
						<f:selectItem itemLabel="Imagen 4" itemValue="4.jpg" />
						<f:selectItem itemLabel="Imagen 5" itemValue="5.jpg" />
					</p:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid columns="1" cellpadding="10" cellspacing="10">
					<p:fileUpload 
						id="fileUploadWidgetVar"
						fileUploadListener="#{eventosController.upload}"
						cancelLabel="Cancelar"
						uploadLabel="Subir Imagen"
						label="Escoger Imagen"
						multiple="false"
						allowTypes="/(\.|\/)(gif|jpe?g|png)$/" sizeLimit="10000000">
					</p:fileUpload>
				</h:panelGrid>
			</h:form>

			<!-- 	<br /><br /> -->
			<p:dataTable id="dataTable" value="#{eventosDatamanager.listEventos}"
				var="listEventos" paginator="true" paginatorPosition="bottom"
				rows="10" paginatorAlwaysVisible="false"
				emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
				styleClass="table table-hover" style="overflow: auto; width: auto;"
				selection="#{eventosDatamanager.eventSelect}"
				rowKey="#{listEventos.idEvento}">


				<p:column headerText="Título" filterBy="#{listEventos.tituloEvento}"
					filterMatchMode="contains">
					<h:outputText id="tituloTa" value="#{listEventos.tituloEvento}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.descripcion']}">
					<h:outputText value="#{listEventos.descripcionEvent}" />
				</p:column>

				<p:column headerText="Modificar">
					<p:commandButton value="Modificar"
						actionListener="#{eventosController.modificar(listEventos)}"
						icon="ui-icon-editar" styleClass="btn btn-info"
						update=":frmAdm :frmAdm:panelNuevo" />
				</p:column>

				<!-- 			<p:column  headerText="Eliminar" >	  -->
				<!-- 			<p:commandButton value="Eliminar" -->
				<!-- 					 actionListener="#{eventosController.eliminar(listCons)}" -->
				<!-- 					 icon="ui-icon-eliminar" styleClass="btn btn-danger" -->
				<!-- 					 style="width:95px;text-align:center;font-size: 11px !important;" -->
				<!-- 					 update=":frmAdm:panelConsulta :frmAdm:dataTable"/> -->
				<!-- 			</p:column>	 -->
			</p:dataTable>

		</h:panelGroup>


	</ui:define>
</ui:composition>
