<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{facturacionController.formul}" />
	<ui:param name="controlador" value="#{facturacionController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.facturacion']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.facturacion']}" />

	<ui:define name="contentCenter">
		<h:outputText value="#{controlador.formul}"></h:outputText>

		<h:panelGroup id="panelFiltros"
			rendered="#{facturacionDatamanager.verPantalla=='C'}">
			<h:panelGrid columns="6" cellpadding="10" cellspacing="10"
				rendered="#{facturacionDatamanager.accion!='N' and facturacionDatamanager.accion!='M'}">

				<p:outputLabel value="Cédula:" for="cedula" />
				<p:inputText id="cedula" value="#{facturacionDatamanager.cedula}" />

				<p:outputLabel value="Sector:*" />
				<p:selectOneMenu id="sectOne"
					value="#{facturacionDatamanager.secComSelect.idSec}" effect="fold"
					style="width: 150px !important;" styleClass="withSelectOneMenu"
					required="true" requiredMessage="Sector es requerido.">
					<f:selectItem itemLabel="Seleccione" itemValue="" />
					<f:selectItems value="#{facturacionDatamanager.secComList}"
						var="list" itemLabel="#{list.nomSec}" itemValue="#{list.idSec}" />
					<!-- 			            <p:ajax event="change" listener="#{facturacionController.consultarFactSect}" update=":frmAdm:formFact" /> -->
				</p:selectOneMenu>

				<p:outputLabel value="Tipo de Servicio:" />
				<p:selectOneMenu id="mediTip"
					value="#{facturacionDatamanager.servicioSelect.idServ}"
					effect="fold" style="width: 150px !important;"
					styleClass="withSelectOneMenu" required="false"
					requiredMessage="Medidor es requerido.">
					<f:selectItem itemLabel="Seleccione" itemValue="" />
					<f:selectItems value="#{facturacionDatamanager.serviciosList}"
						var="list" itemLabel="#{list.nomServ}" itemValue="#{list.idServ}" />
					<!-- 			            <p:ajax event="change" listener="#{facturacionController.consultarFactSect}" update=":frmAdm:formFact" /> -->
				</p:selectOneMenu>


				<p:outputLabel value="Fecha Inicio:" for="fechIni" />
				<p:calendar id="fechIni" value="#{facturacionDatamanager.fechaIni}"
					pattern="dd/MM/yyyy" styleClass="withCalendarConsulta" locale="es"
					maxdate="#{now}" required="true"
					requiredMessage="Fecha Inicio es requerido" />

				<p:outputLabel value="Fecha Fin:" for="fechFin" />
				<p:calendar id="fechFin" value="#{facturacionDatamanager.fechaFin}"
					pattern="dd/MM/yyyy" styleClass="withCalendarConsulta" locale="es"
					maxdate="#{now}" required="true"
					requiredMessage="Fecha Fin es requerido" />

			</h:panelGrid>

		</h:panelGroup>


		<h:panelGroup id="panelFactura"
			rendered="#{facturacionDatamanager.verPantalla=='M'}">

			<h:form id="formFact">
				<p:tabView dynamic="true" cache="true">
					<p:tab title="Factura">
						<h:panelGrid columns="4" styleClass="panelGridCenter"
							cellpadding="5">

							<h:outputLabel value="Cédula:" for="ced" />
							<p:inputText id="ced"
								value="#{facturacionDatamanager.resultadoSelect.ced_usu}"
								required="false" requiredMessage="Cédula es requerido."
								disabled="true" />

							<h:outputLabel value="Nombres:" for="nombre" />
							<p:inputText id="nombre"
								value="#{facturacionDatamanager.resultadoSelect.nom_usu}"
								required="false" requiredMessage="Nombre es requerido."
								disabled="true" />

							<h:outputLabel value="Dirección:" for="dir" />
							<p:inputText id="dir"
								value="#{facturacionDatamanager.resultadoSelect.dir_usu}"
								required="false" requiredMessage="Dirección es requerida."
								disabled="true" />

							<h:outputLabel value="Sector:" for="sector" />
							<p:inputText id="sector"
								value="#{facturacionDatamanager.resultadoSelect.nom_sec}"
								required="true" requiredMessage="Sector es requerida."
								disabled="true" />

							<h:outputLabel value="Servicio:" for="servicio" />
							<p:inputText id="servicio"
								value="#{facturacionDatamanager.resultadoSelect.nom_serv}"
								required="false" requiredMessage="Servicio es requerido."
								disabled="true" />

							<h:outputLabel value="Codigo de Medidor:" for="medidor" />
							<p:inputText id="medidor"
								value="#{facturacionDatamanager.resultadoSelect.id_cod_med}"
								required="false" requiredMessage="Sector es requerida."
								disabled="true" />

							<h:outputLabel value="Fecha de Registro:" for="reg" />
							<p:calendar id="reg"
								value="#{facturacionDatamanager.resultadoSelect.fecha_reg}"
								pattern="dd/MM/yyyy" styleClass="withCalendarConsulta"
								locale="es" maxdate="#{now}" required="true"
								requiredMessage="Fecha Ingreso es requerido" disabled="true" />

							<h:outputLabel value="Total de Consumo:" for="consumo" />
							<p:inputText id="consumo" disabled="true"
								value="#{facturacionDatamanager.consumoTotal}" required="false"
								requiredMessage="Sector es requerida." />

							<h:outputLabel value="Valor a pagar (Consumo Agua):"
								for="valCons" />
							<p:inputText id="valCons" disabled="true"
								value="#{facturacionDatamanager.valorPagar}" required="false"
								requiredMessage="Valor a pagar consumo requerido." />

							<h:outputLabel value="Valor a pagar (Rubros de terceros):" for="valMul" />
							<p:inputText id="valMul" disabled="true"
								value="#{facturacionDatamanager.valorMul}" required="false"
								requiredMessage="Valor pagar multas requerido." />

							<h:outputLabel value="Valor a pagar total:" for="valTot" />
							<p:inputText id="valTot" disabled="true"
								value="#{facturacionDatamanager.valorTotal}" required="false"
								requiredMessage="Valor total es requerido." />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Descripción de Rubros de Terceros">
						<h:panelGrid columns="2" cellpadding="10">


							<p:dataTable id="dataTableSanc"
								value="#{facturacionDatamanager.usuarioMultasList}"
								var="listMult" paginator="true" paginatorPosition="bottom"
								rows="10" paginatorAlwaysVisible="false"
								emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
								styleClass="table table-hover"
								style="overflow: auto; width: auto;"
								rowKey="#{listMult.idMulta}">

								<p:column filterBy="#{listMult.tblMulta.detMulta}"
									filterMatchMode="contains">
									<h:outputText id="detMul" value="#{listMult.tblMulta.detMulta}" />
								</p:column>

								<p:column headerText="Valor">
									<h:outputText id="valor" value="#{listMult.tblMulta.valMulta}" />
								</p:column>

								<p:column headerText="Fecha">
									<h:outputText id="fecha" value="#{listMult.fechaReg}" />
								</p:column>

							</p:dataTable>
						</h:panelGrid>
					</p:tab>
				</p:tabView>



				<p:separator styleClass="separador"></p:separator>

				<h:panelGroup styleClass="barraInferior">

					<p:commandButton value="Generar Factura"
						actionListener="#{facturacionController.generarFactura()}"
						icon="ui-icon-reporte" style="width:150px !important;"
						styleClass="btn btn-secondary"
						update=":frmAdm :frmAdm:panelFactura,:frmAdm:panelConsulta"
						oncomplete="window.open('#{request.contextPath}/reportServlet?reporte=factura_pre')"
						ajax="true" process="@form formFact" />
					
					<p:commandButton value="Validar Pago"
						actionListener="#{facturacionController.validarPago()}"
						icon="ui-icon-guardar" 
						style="width:150px !important;"
						styleClass="btn btn-success"
						update=":frmAdm :frmAdm:panelFactura,:frmAdm:panelConsulta"
						ajax="true" process="@this" />

					<p:commandButton value="Cancelar"
						actionListener="#{facturacionController.cancelar()}"
						icon="ui-icon-cancelar" 
						styleClass="btn btn-primary"
						update=":frmAdm :frmAdm:panelFactura,:frmAdm:panelConsulta"
						ajax="true" process="@this" />

				</h:panelGroup>
			</h:form>
		</h:panelGroup>

		<h:panelGroup id="panelConsulta"
			rendered="#{facturacionDatamanager.verPantalla=='C'}">
			<p:commandButton value="Consultar"
				actionListener="#{facturacionController.consultar}"
				icon="ui-icon-buscar" styleClass="btn btn-secondary"
				update=":frmAdm" ajax="true" />
			<br />
			<br />
			<p:dataTable id="dataTable"
				value="#{facturacionDatamanager.resultadoList}" var="listUser"
				paginator="true" paginatorPosition="bottom" rows="10"
				paginatorAlwaysVisible="false"
				emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
				styleClass="table table-hover" style="overflow: auto; width: auto;"
				selection="#{facturacionDatamanager.resultadoSelect}"
				rowKey="#{listUser.id_usu}">


				<p:column filterBy="#{listUser.ced_usu}" filterMatchMode="contains">
					<h:outputText id="codreg" value="#{listUser.ced_usu}" />
				</p:column>

				<p:column filterBy="#{listUser.nom_usu}" filterMatchMode="contains">
					<h:outputText value="#{listUser.nom_usu}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.sector']}">
					<h:outputText value="#{listUser.nom_sec}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.tipo.servicio']}">
					<h:outputText value="#{listUser.nom_serv}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.fecha.registro']}">
					<h:outputText value="#{listUser.fecha_reg}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Detalles">
					<p:commandButton value="Ver"
						actionListener="#{facturacionController.ver(listUser)}"
						icon="ui-icon-ver" update="frmAdm"
						style="width:95px;text-align:center;font-size: 11px !important;"
						styleClass="btn btn-ver" />
				</p:column>

			</p:dataTable>

		</h:panelGroup>

	</ui:define>
</ui:composition>
