<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{parametrizacionController.formul}" />
	<ui:param name="controlador" value="#{parametrizacionController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.parametrizacion']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.parametrizacion']}" />


	<ui:define name="contentCenter">
		<h:outputText value="#{controlador.formul}"></h:outputText>

		<h:panelGroup id="panelConsulta"
			rendered="#{parametrizacionDatamanager.verPantalla=='C'}">
			<p:commandButton value="Nuevo"
				actionListener="#{parametrizacionController.accion('N')}"
				icon="ui-icon-nuevo" styleClass="btn btn-primary"
				update=":frmAdm :frmAdm:panelNuevo" />
			<br />
			<br />
			<p:dataTable id="dataTable"
				value="#{parametrizacionDatamanager.listParametros}" var="listParam"
				paginator="true" paginatorPosition="bottom" rows="10"
				paginatorAlwaysVisible="false"
				emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
				styleClass="table table-hover" style="overflow: auto; width: auto;"
				selection="#{parametrizacionDatamanager.parametroObjs}"
				rowKey="#{listParam.idParam}">


				<p:column headerText="#{msg['etiqueta.tabla.comunidad']}"
					filterBy="#{listParam.secComDTO.nomSec}" filterMatchMode="contains">
					<h:outputText id="comunidad" value="#{listParam.secComDTO.nomSec}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.servicio']}"
					filterBy="#{listParam.tblServicio.nomServ}"
					filterMatchMode="contains">
					<h:outputText value="#{listParam.tblServicio.nomServ}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.descripcion.reg']}">
					<h:outputText id="descripcion" value="#{listParam.descripcion}" />
				</p:column>
				<p:column headerText="Modificar">
					<p:commandButton value="Modificar"
						actionListener="#{parametrizacionController.modificar(listParam)}"
						icon="ui-icon-editar" update="frmAdm"
						style="width:95px;text-align:center;font-size: 11px !important;"
						styleClass="btn btn-info" />
				</p:column>

				<p:column headerText="Eliminar">
					<p:commandButton value="Eliminar"
						actionListener="#{parametrizacionController.eliminar(listParam)}"
						icon="ui-icon-eliminar" styleClass="btn btn-danger"
						style="width:95px;text-align:center;font-size: 11px !important;"
						update=":frmAdm:panelConsulta :frmAdm:dataTable" />
				</p:column>
			</p:dataTable>
		</h:panelGroup>

		<h:panelGroup id="panelNuevo"
			rendered="#{parametrizacionDatamanager.verPantalla=='N'}">

			<h:form id="formParam">
				<h:panelGrid columns="6" cellpadding="10" cellspacing="10">

					<h:outputLabel value="Sector:" />
					<p:selectOneMenu id="sectOne"
						value="#{parametrizacionDatamanager.parametroObjs.idSec}"
						style="width: 150px !important;" styleClass="withSelectOneMenu"
						required="true" requiredMessage="Sector es requerido.">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{parametrizacionDatamanager.secComList}"
							var="list" itemLabel="#{list.nomSec}" itemValue="#{list.idSec}" />
					</p:selectOneMenu>

					<h:outputLabel value="Registro Mínimo: " for="min" />
					<p:inputText id="min"
						value="#{parametrizacionDatamanager.parametroObjs.regMin}"
						required="true" requiredMessage="Registro Mínimo es requerido."
						onkeypress="return decimales(event)" />

					<h:outputLabel value="Registro Máximo: " for="max" />
					<p:inputText id="max"
						value="#{parametrizacionDatamanager.parametroObjs.regMax}"
						required="true" requiredMessage="Registro Máximo es requerido."
						onkeypress="return decimales(event)" />

					<h:outputLabel value="Valor de tarifa: " for="m3" />
					<p:inputText id="m3"
						value="#{parametrizacionDatamanager.parametroObjs.valMcub}"
						required="true" requiredMessage="Valor del m3 es requerido."
						onkeypress="return decimales(event)" />

					<h:outputLabel value="Servicio:" />
					<p:selectOneMenu id="servicio"
						value="#{parametrizacionDatamanager.parametroObjs.idServ}"
						effect="fold" style="width: 150px !important;"
						styleClass="withSelectOneMenu" required="true"
						requiredMessage="Servicio es requerido.">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{parametrizacionDatamanager.serviciosList}"
							var="list" itemLabel="#{list.nomServ}" itemValue="#{list.idServ}" />
					</p:selectOneMenu>

					<h:outputLabel value="Descripción: " />
					<p:inputText
						value="#{parametrizacionDatamanager.parametroObjs.descripcion}" />

				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:outputLabel for="tipExcedente" value="Tipo Excedente:" />
					<p:selectOneRadio id="tipExcedente"
						value="#{parametrizacionDatamanager.tipExcedente}" required="true"
						requiredMessage="Tipo Excedente es requerido" layout="grid"
						columns="4" disabled="#{parametrizacionDatamanager.modificarExc}">
						<f:selectItem itemLabel="Excedente en rangos" itemValue='1' />
						<f:selectItem itemLabel="Excedente por metros cúbicos"
							itemValue='2' />
					</p:selectOneRadio>
				</h:panelGrid>
				<br />
				<p:separator styleClass="separador"></p:separator>
				<h:panelGrid columns="6" cellpadding="10" cellspacing="10">
					<h:outputLabel value="Excedente Minimo: " />
					<p:inputText id="excMin"
						value="#{parametrizacionDatamanager.excedenteFormul.regExcMin}"
						required="true" onkeypress="return decimales(event)"
						requiredMessage="Excedente Minimo es requerido" />
					<h:outputLabel value="Excedente Máximo:" />
					<p:inputText id="excMax"
						value="#{parametrizacionDatamanager.excedenteFormul.regExcMax}"
						required="true" onkeypress="return decimales(event)"
						requiredMessage="Excedente Máximo es requerido" />
					<h:outputLabel value="Valor de Excedente: " />
					<p:inputText id="valExc"
						value="#{parametrizacionDatamanager.excedenteFormul.valExcMcub}"
						required="true" onkeypress="return decimales(event)" />
				</h:panelGrid>
				<br />
				<h:panelGrid styleClass="panelGridCenter">
					<p:dataTable id="dataTableExc"
						value="#{parametrizacionDatamanager.excedenteList}" var="listExc"
						paginator="true" paginatorPosition="bottom" rows="10"
						paginatorAlwaysVisible="false"
						emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
						styleClass="table table-hover"
						style="overflow: auto; width: 400px;"
						selection="#{parametrizacionDatamanager.excedenteObj}"
						rowKey="#{listExc.idExc}" editable="true">

						<p:ajax event="rowEdit"
							listener="#{parametrizacionController.onRowEdit}"
							update=":frmAdm:formParam:dataTableExc" />
						<p:ajax event="rowEditCancel"
							listener="#{parametrizacionController.onRowCancel}" />


						<p:column headerText="#{msg['etiqueta.tabla.valor.regExcMin']}">

							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{listExc.regExcMin}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText style="width:50%;float:right"
										value="#{listExc.regExcMin}"
										onkeypress="return decimales(event)" />
								</f:facet>
							</p:cellEditor>

						</p:column>

						<p:column headerText="#{msg['etiqueta.tabla.valor.regExcMax']}">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{listExc.regExcMax}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText style="width:50%;float:right"
										value="#{listExc.regExcMax}"
										onkeypress="return decimales(event)" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column headerText="#{msg['etiqueta.tabla.valor.mcub']}">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{listExc.valExcMcub}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText style="width:50%;float:right"
										value="#{listExc.valExcMcub}"
										onkeypress="return decimales(event)" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column style="width:20%" headerText="Editar">
							<p:rowEditor />
						</p:column>
						<p:column style="width:20%" headerText="Eliminar">
							<p:commandLink id="eliminar"
								actionListener="#{parametrizacionController.eliminarExcedente(listExc)}"
								update=":frmAdm:formParam:dataTableExc" ajax="true"
								process="@form">
								<h:graphicImage library="facturacion"
									name="images/iconos/submenu/eliminar_p.png" title="Eliminar" />
							</p:commandLink>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Agregar Excedente"
						actionListener="#{parametrizacionController.agregarExcedente(parametrizacionDatamanager.excedenteFormul)}"
						icon="ui-icon-guardar" style="width:100%"
						update=":frmAdm:formParam:dataTableExc" ajax="true"
						process="@form" />

				</h:panelGrid>
				<p:separator styleClass="separador"></p:separator>
				<h:panelGroup styleClass="barraInferior">

					<p:commandButton value="Guardar"
						actionListener="#{parametrizacionController.guardar}"
						icon="ui-icon-guardar" style="width:101px;"
						styleClass="btn btn-success" update=":frmAdm :frmAdm:panelNuevo"
						ajax="true" process="@form formParam" />

					<p:commandButton value="Cancelar"
						actionListener="#{parametrizacionController.accion('C')}"
						icon="ui-icon-cancelar" styleClass="btn btn-primary"
						update=":frmAdm :frmAdm:panelConsulta" ajax="true" process="@this" />

				</h:panelGroup>
			</h:form>
		</h:panelGroup>
	</ui:define>
</ui:composition>
