<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui"
		xmlns:s="http://java.sun.com/jsf/composite/components">
	
	
	<h:panelGroup id="popUpFormAll" rendered="#{loginDatamanager.loginObj.idValuenivel!=1
							 and null==loginDatamanager.sectorSelcUser.idSec}">
	<h:form>
				<p:dialog header="Seleccione Sector:"  
					widgetVar="seleccionSector" 
					dynamic="true" resizable="false" 
					showEffect="clip"
					hideEffect="clip" 
					modal="true">
					<p:ajax event="close" 
					update="frmAdm:popUpFormAll" listener="#{loginController.eventoCerrar}" />
						<h:panelGrid id="gridEmpresa" columns="2" columnClasses="alignTop,alignTop">
							<h:panelGroup id="popUpForm">	
								<p:selectOneMenu id="sectOne" 
								value="#{loginDatamanager.sectorSelcUser.idSec}" 
								effect="fold"
								style="width: 150px !important;" 
								styleClass="withSelectOneMenu"
								required="true" 
								requiredMessage="Sector es requerido.">
								
								<p:ajax event="change" execute="@this" listener="#{loginController.seleccionarSector}"></p:ajax>
								
							            <f:selectItem itemLabel="Seleccione" itemValue="" />
							            <f:selectItems value="#{loginDatamanager.listSectores}"  
							            var="list" 
							            itemLabel="#{list.nomSec}" 
							            itemValue="#{list.idSec}" />
							    </p:selectOneMenu>
							</h:panelGroup>
									
							<p:commandButton
											value="#{msg['etiqueta.boton.aceptar']}"
											actionListener="#{loginController.guardarSector()}" 
											update=":frmAdm"
											onclick="PF('seleccionSector').hide();"
											/>
						</h:panelGrid>
					</p:dialog>
				</h:form>
			</h:panelGroup>
		
</ui:composition>
