<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">
	
	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{regionalesController.formul}" />
	<ui:param name="controlador" value="#{regionalesController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.admin.regionales']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.admin.regionales']}" />
	
		
	<ui:define name="contentCenter">
	<h:outputText value="#{controlador.formul}"></h:outputText>

	
	<h:panelGroup id="panelNuevo" rendered="#{regionalesDatamanager.verPantalla=='N'}">
	
	<h:form id="formReg">
	<h:panelGrid columns="6" cellpadding="10" cellspacing="10" >
	
	<h:outputLabel value="Código:" for="codigo"/>
	<p:inputText  id="codigo" value="#{regionalesDatamanager.regionalSeleccion.codReg}" 
				  required="true" requiredMessage="Código es requerido:"/>
				  
	<h:outputLabel value="Nombre:" for="nombre"/>
	<p:inputText id="nombre" value="#{regionalesDatamanager.regionalSeleccion.nomReg}" 
				 required="true" requiredMessage="Nombre es requerido."/>
				 
	<h:outputLabel value="Descripción:" for="descripcion"/>
	<p:inputText id="descripcion" value="#{regionalesDatamanager.regionalSeleccion.descReg}" 
				 required="true" requiredMessage="Descripción es requerida."/>
	
	<h:outputLabel value="Representante:" for="representante"/>
	<p:inputText id="representante" value="#{regionalesDatamanager.regionalSeleccion.repReg}" 
				 required="true" requiredMessage="Representante es requerid@."/>
				 
	<h:outputLabel value="Ubicación:" for="ubicacion"/>
	<p:inputText id="ubicacion" value="#{regionalesDatamanager.regionalSeleccion.ubiReg}" 
				 required="true" requiredMessage="Ubicación es requerida."/>
	</h:panelGrid>
	
	
	
	<p:separator styleClass="separador"></p:separator>
	<h:panelGroup styleClass="barraInferior">
	
	<p:commandButton value="Guardar"
					 actionListener="#{regionalesController.guardar}"
					 icon="ui-icon-guardar" style="width:101px;"
					 styleClass="btn btn-success"
					 update=":frmAdm :frmAdm:panelNuevo"
					 ajax="true" process="@form formReg"/>	
	
	<p:commandButton value="Cancelar"
					 actionListener="#{regionalesController.accion('C')}"
					 icon="ui-icon-cancelar" 
					 styleClass="btn btn-primary"
					 update=":frmAdm :frmAdm"
					 ajax="true" process="@this"/>
	
		</h:panelGroup> 
	</h:form>
	</h:panelGroup>
	
	<h:panelGroup id="panelConsulta" rendered="#{regionalesDatamanager.verPantalla=='C'}">
	
	<p:commandButton value="Nuevo"
					 actionListener="#{regionalesController.accion('N')}"
					 icon="ui-icon-nuevo" styleClass="btn btn-primary"
					 update=":frmAdm :frmAdm:panelNuevo"/>	
	<br /><br />
	<p:dataTable  id="dataTable" 
						value="#{regionalesDatamanager.regionalList}" 
						var="listReg"
						paginator="true" 
						paginatorPosition="bottom"
						rows="10"
						paginatorAlwaysVisible="false"
						emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
						styleClass="table table-hover"
						style="overflow: auto; width: auto;"
						selection="#{regionalesDatamanager.regionalSeleccion}"
						rowKey="#{listReg.idReg}" >
						
			
			<p:column headerText="#{msg['etiqueta.tabla.codigo.reg']}"
						filterBy="#{listReg.codReg}"
    				    filterMatchMode="contains">
		    <h:outputText id="codreg" value="#{listReg.codReg}" /> 
			</p:column>
			
			<p:column  headerText="#{msg['etiqueta.tabla.nombre.reg']}"
						filterBy="#{listReg.nomReg}"
    				    filterMatchMode="contains">
				<h:outputText value="#{listReg.nomReg}" />
			</p:column>
			
			<p:column headerText="#{msg['etiqueta.tabla.descripcion.reg']}">
				<h:outputText value="#{listReg.descReg}" />
			</p:column>
			
			<p:column  headerText="#{msg['etiqueta.tabla.representante.reg']}" >
				<h:outputText value="#{listReg.repReg}" />
			</p:column>
			
			<p:column  headerText="#{msg['etiqueta.tabla.ubicacion.reg']}" >
				<h:outputText value="#{listReg.ubiReg}" />
			</p:column>
			
			<p:column  headerText="Modificar" >
			<p:commandButton value="Modificar"
					 actionListener="#{regionalesController.modificar(listReg)}"
					 icon="ui-icon-editar" 
					 update="frmAdm"
					  style="width:95px;text-align:center;font-size: 11px !important;"
					 styleClass="btn btn-info"/>
			</p:column>
			
			<p:column  headerText="Eliminar" >	 
			<p:commandButton value="Eliminar"
					 actionListener="#{regionalesController.eliminar(listReg)}"
					 icon="ui-icon-eliminar" styleClass="btn btn-danger"
					 style="width:95px;text-align:center;font-size: 11px !important;"
					 update=":frmAdm:panelConsulta :frmAdm:dataTable"/>
			</p:column>	
		</p:dataTable >
	
	</h:panelGroup>
		
	
	</ui:define>
</ui:composition>
