<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{reportesController.formul}" />
	<ui:param name="controlador" value="#{reportesController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.facturacion']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.facturacion']}" />

	<ui:define name="contentCenter">
		<h:outputText value="#{controlador.formul}"></h:outputText>

		<h:panelGroup id="panelFiltros">
			<h:form id="formReport">
				<h:panelGrid columns="1"
					rendered="#{!reportesDatamanager.habilitarCedula}">
					<p:outputLabel style="width: 550px !important;color: black;"
						value="* Si desea generar un reporte por SECTOR, el campo cédula debe estar vacío." />
				</h:panelGrid>
				<br />

				<h:panelGrid columns="2">
					<p:outputLabel for="tipReporte" value="Tipo Reporte:"
						style="width: 150px !important;" />
					<p:selectOneRadio id="tipReporte"
						value="#{reportesDatamanager.tipReporte}" required="true"
						requiredMessage="Tipo Reporte es requerido">
						<f:selectItem itemLabel="Detalle" itemValue='1' />
						<f:selectItem itemLabel="General" itemValue='2' />
					</p:selectOneRadio>
				</h:panelGrid>
				<h:panelGrid columns="4" cellpadding="10" cellspacing="10"
					style="margin-bottom:10px" styleClass="panelGridCenter">

					<p:outputLabel value="Cédula:" for="cedula" />
					<p:inputText id="cedula" value="#{reportesDatamanager.cedula}"
						required="false" requiredMessage="Cédula es requerido."
						disabled="#{reportesDatamanager.habilitarCedula}" />

					<p:outputLabel value="Sector: *" />
					<p:selectOneMenu id="sectOne"
						value="#{reportesDatamanager.secComSelect.idSec}" effect="fold"
						style="width: 150px !important;" styleClass="withSelectOneMenu"
						required="true" requiredMessage="Sector es requerido.">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{reportesDatamanager.secComList}"
							var="list" itemLabel="#{list.nomSec}" itemValue="#{list.idSec}" />
					</p:selectOneMenu>

					<p:outputLabel value="Fecha Inicio:" for="fechIni"
						style="width:100px !important;" />
					<p:calendar id="fechIni" value="#{reportesDatamanager.fechaIni}"
						pattern="dd/MM/yyyy" styleClass="withCalendarConsulta" locale="es"
						maxdate="#{now}" required="true"
						requiredMessage="Fecha Ingreso es requerido" />

					<p:outputLabel value="Fecha Fin:" for="fechFin"
						style="width:100px !important;" />
					<p:calendar id="fechFin" value="#{reportesDatamanager.fechaFin}"
						pattern="dd/MM/yyyy" styleClass="withCalendarConsulta" locale="es"
						maxdate="#{now}" required="true"
						requiredMessage="Fecha Ingreso es requerido" />

				</h:panelGrid>

				<p:separator styleClass="separador"></p:separator>

				<h:panelGroup styleClass="barraInferior">

					<p:commandButton value="Generar Reporte"
						actionListener="#{reportesController.generarFactura()}"
						icon="ui-icon-reporte" style="width:150px !important;"
						styleClass="btn btn-success" update=":frmAdm" ajax="true"
						process="@form formReport" />

				</h:panelGroup>
			</h:form>
		</h:panelGroup>
	</ui:define>
</ui:composition>
