<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{rolesController.formul}" />
	<ui:param name="controlador" value="#{rolesController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.roles']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.roles']}" />


	<ui:define name="contentCenter">
		<h:outputText value="#{controlador.formul}"></h:outputText>
		<h:panelGroup id="panelNuevo"
			rendered="#{rolesDatamanager.verPantalla=='N' or rolesDatamanager.verPantalla=='M' }">

			<h:form id="formMul">
				<h:panelGrid columns="2" cellpadding="10" cellspacing="10">

					<h:outputLabel value="Descripción del Rol:" for="desRol" />
					<p:inputText id="desRol"
						value="#{rolesDatamanager.rolDTO.descripcion}" required="true"
						requiredMessage="Descripción es requerida." />

				</h:panelGrid>



				<h:panelGroup id="panelPantallas"
					rendered="#{rolesDatamanager.verPantalla=='M'}">
					<p:dataTable id="dataTablePantallas"
						value="#{rolesDatamanager.tblPaginaList}" var="listPaginas"
						paginator="true" paginatorPosition="bottom" rows="10"
						paginatorAlwaysVisible="false"
						emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
						styleClass="table table-hover"
						style="overflow: auto; width: auto;"
						selection="#{rolesDatamanager.paginaListSelect}"
						rowKey="#{listPaginas.idPag}">

						<p:column style="width:60px;text-align:center">
							<p:selectBooleanCheckbox value="#{listPaginas.selectPagina}">
								<p:ajax update="frmAdm:formMul:dataTablePantallas" listener="#{rolesController.eliminarRol(listPaginas)}" />
							</p:selectBooleanCheckbox>
						</p:column>

						<p:column headerText="#{msg['etiqueta.tabla.descripcion']}"
							filterBy="#{listPaginas.descripcionPag}"
							filterMatchMode="contains">
							<h:outputText value="#{listPaginas.descripcionPag}" />
						</p:column>
					</p:dataTable>

				</h:panelGroup>
				<p:separator styleClass="separador"></p:separator>
				<h:panelGroup styleClass="barraInferior">

					<p:commandButton value="Guardar"
						actionListener="#{rolesController.guardar}" icon="ui-icon-guardar"
						style="width:101px;" styleClass="btn btn-success"
						update=":frmAdm :frmAdm:panelNuevo" ajax="true"
						process="@form formMul" />

					<p:commandButton value="Cancelar"
						actionListener="#{rolesController.cancelar('C')}"
						icon="ui-icon-cancelar" styleClass="btn btn-primary"
						update=":frmAdm :frmAdm" ajax="true" process="@this" />

				</h:panelGroup>
			</h:form>
		</h:panelGroup>

		<h:panelGroup id="panelConsulta"
			rendered="#{rolesDatamanager.verPantalla=='C'}">
			<h:panelGrid columns="2">
				<p:commandButton value="Nuevo"
					actionListener="#{rolesController.accion('N')}"
					icon="ui-icon-nuevo" styleClass="btn btn-primary"
					update=":frmAdm :frmAdm:panelNuevo" />

			</h:panelGrid>
			<br />
			<br />
			<p:dataTable id="dataTable" value="#{rolesDatamanager.rolList}"
				var="listRol" paginator="true" paginatorPosition="bottom" rows="10"
				paginatorAlwaysVisible="false"
				emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
				styleClass="table table-hover" style="overflow: auto; width: auto;"
				selection="#{rolesDatamanager.rolSelect}"
				rowKey="#{listRol.idNivelacceso}">

				<p:column headerText="#{msg['etiqueta.tabla.descripcion']}"
					filterBy="#{listRol.descripcion}" filterMatchMode="contains">
					<h:outputText value="#{listRol.descripcion}" />
				</p:column>

				<p:column headerText="Modificar">
					<p:commandButton value="Modificar"
						actionListener="#{rolesController.modificar(listRol)}"
						icon="ui-icon-editar" update="frmAdm"
						style="width:95px;text-align:center;font-size: 11px !important;"
						styleClass="btn btn-info" />
				</p:column>

<!-- 				<p:column headerText="Eliminar"> -->
<!-- 					<p:commandButton value="Eliminar" -->
<!-- 						actionListener="#{rolesController.eliminar(listRol)}" -->
<!-- 						icon="ui-icon-eliminar" styleClass="btn btn-danger" -->
<!-- 						style="width:95px;text-align:center;font-size: 11px !important;" -->
<!-- 						update=":frmAdm:panelConsulta :frmAdm:dataTable" /> -->
<!-- 				</p:column> -->
			</p:dataTable>

		</h:panelGroup>

	</ui:define>
</ui:composition>