<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">
	
	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{sectoresController.formul}" />
	<ui:param name="controlador" value="#{sectoresController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionSectores"
		value="#{msg['etiqueta.titulo.admin.sectores']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.admin.sectores']}" />
	
		
	<ui:define name="contentCenter">
	<h:outputText value="#{controlador.formul}"></h:outputText>

	
	<h:panelGroup id="panelNuevo" rendered="#{sectoresDatamanager.verPantalla=='N'}">
	
	<h:form id="formSec">
	<h:panelGrid columns="6" cellpadding="10" cellspacing="10" >
	
	<h:outputLabel value="Código:" for="codigo"/>
	<p:inputText  id="codigo" value="#{sectoresDatamanager.sectoresSeleccion.codSec}" 
				  required="true" requiredMessage="Código es requerido:"/>
				  
	<h:outputLabel value="Nombre:" for="nombre"/>
	<p:inputText id="nombre" value="#{sectoresDatamanager.sectoresSeleccion.nomSec}" 
				 required="true" requiredMessage="Nombre es requerido."/>
				 
        
    <h:outputLabel value="Regional:" />
	<p:selectOneMenu id="sectOne" value="#{sectoresDatamanager.sectoresSeleccion.tblRegional.idReg}" effect="fold"
	style="width: 150px !important;" styleClass="withSelectOneMenu"
	required="true" requiredMessage="Regional es requerido.">
            <f:selectItem itemLabel="Seleccione" itemValue="" />
            <f:selectItems value="#{sectoresDatamanager.regionalList}"  var="list" 
            itemLabel="#{list.nomReg}" itemValue="#{list.idReg}" />
        </p:selectOneMenu>
				 
	<h:outputLabel value="Habitantes:" for="habitantes"/>
	<p:inputText id="habitantes" value="#{sectoresDatamanager.sectoresSeleccion.habSec}" 
				 required="true" requiredMessage="Habitantes es requerido."
				 onkeypress="return numeros(event)"/>
	
	</h:panelGrid>
	
	
	
	<p:separator styleClass="separador"></p:separator>
	<h:panelGroup styleClass="barraInferior">
	
	<p:commandButton value="Guardar"
					 actionListener="#{sectoresController.guardar}"
					 icon="ui-icon-guardar" style="width:101px;"
					 styleClass="btn btn-success"
					 update=":frmAdm :frmAdm:panelNuevo"
					 ajax="true" process="@form formSec"/>	
	
	<p:commandButton value="Cancelar"
					 actionListener="#{sectoresController.accion('C')}"
					 icon="ui-icon-cancelar" 
					 styleClass="btn btn-primary"
					 update=":frmAdm :frmAdm"
					 ajax="true" process="@this"/>
	
		</h:panelGroup> 
	</h:form>
	</h:panelGroup>
	
<h:panelGroup id="panelConsulta" rendered="#{sectoresDatamanager.verPantalla=='C'}">
	
	<p:commandButton value="Nuevo"
					 actionListener="#{sectoresController.accion('N')}"
					 icon="ui-icon-nuevo" styleClass="btn btn-primary"
					 update=":frmAdm :frmAdm:panelNuevo"/>	
	<br /><br />
	<p:dataTable  id="dataTable" 
						value="#{sectoresDatamanager.comList}" 
						var="listSec"
						paginator="true" 
						paginatorPosition="bottom"
						rows="10"
						paginatorAlwaysVisible="false"
						emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
						styleClass="table table-hover"
						style="overflow: auto; width: auto;"
						selection="#{sectoresDatamanager.sectoresSeleccion}"
						rowKey="#{listSec.idSec}" >
						
			
			<p:column headerText="#{msg['etiqueta.tabla.codigo.sec']}"
						filterBy="#{listSec.codSec}"
    				    filterMatchMode="contains">
			
		    <h:outputText id="codsec" value="#{listSec.codSec}" /> 
			</p:column>
			
			<p:column  headerText="#{msg['etiqueta.tabla.nombre.sec']}" 
						filterBy="#{listSec.nomSec}"
    				    filterMatchMode="contains">
				<h:outputText value="#{listSec.nomSec}" />
			</p:column>
			
			<p:column headerText="#{msg['etiqueta.tabla.habitantes.sec']}">
				<h:outputText value="#{listSec.habSec}" />
			</p:column>
			
			<p:column  headerText="#{msg['etiqueta.tabla.habitantes.reg']}" >
				<h:outputText value="#{listSec.tblRegional.nomReg}" />
			</p:column>
			
			
			<p:column  headerText="Modificar" >
			<p:commandButton value="Modificar"
					 actionListener="#{sectoresController.modificar(listSec)}"
					 icon="ui-icon-editar" 
					 update="frmAdm"
					  style="width:95px;text-align:center;font-size: 11px !important;"
					 styleClass="btn btn-info"/>
			</p:column>
			
			<p:column  headerText="Eliminar" >	 
			<p:commandButton value="Eliminar"
					 actionListener="#{sectoresController.eliminar(listSec)}"
					 icon="ui-icon-eliminar" styleClass="btn btn-danger"
					 style="width:95px;text-align:center;font-size: 11px !important;"
					 update=":frmAdm:panelConsulta :frmAdm:dataTable"/>
			</p:column>	
		</p:dataTable >
	
	</h:panelGroup>
		
	
	
	</ui:define>
</ui:composition>
