<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{usuarioController.formul}" />
	<ui:param name="controlador" value="#{usuarioController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.admin.usuario']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.admin.usuario']}" />


	<ui:define name="contentCenter">
		<h:outputText value="#{controlador.formul}"></h:outputText>


		<h:panelGroup id="panelNuevo"
			rendered="#{usuarioDatamanager.verPantalla=='N'}">

			<h:form id="formUsu">
				<h:panelGrid columns="6" cellpadding="10" cellspacing="10">

					<h:outputLabel value="Cédula:" for="cedula" />
					<p:inputText id="cedula"
						value="#{usuarioDatamanager.usuarioFormul.cedUsu}" required="true"
						requiredMessage="Cédula es requerido." type="text" maxlength="10"
						onkeypress="return numeros(event)">
						<p:ajax event="blur" execute="@this"
							listener="#{usuarioController.buscarUsuario}"
							update=":frmAdm: panelLogin,:frmAdm:panelNuevo"></p:ajax>
					</p:inputText>

					<h:outputLabel value="Nombre:" for="nombre" />
					<p:inputText id="nombre"
						value="#{usuarioDatamanager.usuarioFormul.nomUsu}" required="true"
						requiredMessage="Nombre es requerido." />

					<h:outputLabel value="Sector:" />
					<p:selectOneMenu id="sectOne"
						value="#{usuarioDatamanager.tblSectorUsuarioFormul.idSec}"
						effect="fold" style="width: 150px !important;"
						styleClass="withSelectOneMenu" required="true"
						requiredMessage="Sector es requerido.">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{usuarioDatamanager.secComList}" var="list"
							itemLabel="#{list.nomSec}" itemValue="#{list.idSec}" />
					</p:selectOneMenu>


					<h:outputLabel value="Dirección:" />
					<p:inputText value="#{usuarioDatamanager.usuarioFormul.dirUsu}"
						required="true" requiredMessage="Dirección es requerido." />

					<h:outputLabel value="Teléfono:" />
					<p:inputText value="#{usuarioDatamanager.usuarioFormul.telUsu}"
						onkeypress="return numeros(event)" />

					<h:outputLabel value="Rol:" />
					<p:selectOneMenu id="rolOne"
						value="#{usuarioDatamanager.tblSectorUsuarioFormul.idValuenivel}"
						effect="fold" style=" width: 150px;" required="true"
						requiredMessage="Rol es requerido.">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{usuarioDatamanager.rolList}" var="list"
							itemLabel="#{list.descripcion}" itemValue="#{list.idValuenivel}" />
					</p:selectOneMenu>


					<h:outputLabel value="Celular:" />
					<p:inputText value="#{usuarioDatamanager.usuarioFormul.celUsu}"
						onkeypress="return numeros(event)" />

					<h:outputLabel value="N° de familiares:" />
					<p:inputText value="#{usuarioDatamanager.usuarioFormul.numFam}"
						required="true" requiredMessage="N° de familiares es requerido."
						onkeypress="return numeros(event)" />

					<h:outputLabel value="Identidad Etnica:" />
					<p:selectOneMenu id="EtniaOne"
						value="#{usuarioDatamanager.usuarioFormul.etnUsu}" effect="fold"
						style=" width: 150px;" required="true"
						requiredMessage="Identidad Etnica es requerido.">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItem itemLabel="Mestizo" itemValue="mestizo" />
						<f:selectItem itemLabel="Indigena" itemValue="indigena" />
						<f:selectItem itemLabel="Blanco" itemValue="blanco" />
						<f:selectItem itemLabel="Afroecuatoriano"
							itemValue="afroecuatoriano" />
						<f:selectItem itemLabel="Montubio" itemValue="montubio" />
						<f:selectItem itemLabel="Mulato" itemValue="mulato" />
						<f:selectItem itemLabel="Ninguno" itemValue="ninguno" />
					</p:selectOneMenu>
				</h:panelGrid>

				<p:separator id="separador" styleClass="separador"
					rendered="#{!usuarioDatamanager.existUser}"></p:separator>

				<h:panelGrid id="panelLogin" columns="6" cellpadding="10"
					cellspacing="10" rendered="#{!usuarioDatamanager.existUser}">

					<h:outputLabel value="Nombre de usuario:" />
					<p:inputText
						value="#{usuarioDatamanager.usuarioFormul.loginDTO.nomUser}"
						required="true" requiredMessage="Nombre de usuario requerido." />

					<h:outputLabel for="contr1" value="Contraseña: *" />
					<p:password id="contr1" value="#{usuarioDatamanager.contrasena}"
						match="contr2" label="Password "
						validatorMessage="Contraseñas no coinciden" />

					<h:outputLabel for="contr2" value="Confirmar Contraseña: *" />
					<p:password id="contr2" value="#{usuarioDatamanager.contrasena}"
						label="Password 2" validatorMessage="Contraseñas no coinciden" />
				</h:panelGrid>


				<p:separator styleClass="separador"></p:separator>
				<h:panelGroup styleClass="barraInferior">

					<p:commandButton value="Guardar"
						actionListener="#{usuarioController.validarCampos}"
						icon="ui-icon-guardar" style="width:101px;"
						styleClass="btn btn-success" update=":frmAdm" ajax="true"
						process="@form formUsu" />

					<p:commandButton value="Cancelar"
						actionListener="#{usuarioController.accion('C')}"
						icon="ui-icon-cancelar" styleClass="btn btn-primary"
						update=":frmAdm :frmAdm:panelConsulta" ajax="true" process="@this" />

				</h:panelGroup>
			</h:form>
		</h:panelGroup>

		<h:panelGroup id="panelConsulta"
			rendered="#{usuarioDatamanager.verPantalla=='C'}">

			<p:commandButton value="Nuevo"
				actionListener="#{usuarioController.accion('N')}"
				icon="ui-icon-nuevo" styleClass="btn btn-primary"
				update=":frmAdm :frmAdm:panelNuevo" />
			<br />
			<br />
			<p:dataTable id="dataTable"
				value="#{usuarioDatamanager.sectorUsuarioList}" var="listUser"
				paginator="true" paginatorPosition="bottom" rows="10"
				paginatorAlwaysVisible="false"
				emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
				styleClass="table table-hover" style="overflow: auto; width: auto;"
				selection="#{usuarioDatamanager.sectorUserSeleccionado}"
				rowKey="#{listUser.idUsu}">


				<p:column headerText="#{msg['etiqueta.tabla.cedula']}"
					filterBy="#{listUser.tblUsuario.cedUsu}" filterMatchMode="contains">
					<h:outputText id="cedulaou" value="#{listUser.tblUsuario.cedUsu}" />
					<p:overlayPanel id="opMostrarInfUsu" for="cedulaou"
						hideEffect="explode" showEvent="mouseover" hideEvent="mouseout"
						dismissable="false" showCloseIcon="true" dinamyc="true"
						style="width:250px">
						<h:panelGrid columns="2" cellpadding="0" cellspacing="0"
							border="0" columnClasses="labelFormulario">
							<h:outputText value="Identidad Etnica:" />
							<h:outputText value="#{listUser.tblUsuario.etnUsu}" />

							<h:outputText value="N° Fam:" />
							<h:outputText value="#{listUser.tblUsuario.numFam}" />

							<h:outputText value="Celular:" />
							<h:outputText value="#{listUser.tblUsuario.celUsu}" />

							<h:outputText value="Nombre Usuario:" />
							<h:outputText value="#{listUser.loginDTO.nomUser}" />

						</h:panelGrid>
					</p:overlayPanel>
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.nombre']}"
					filterBy="#{listUser.tblUsuario.nomUsu}" filterMatchMode="contains">
					<h:outputText value="#{listUser.tblUsuario.nomUsu}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.direccion']}">
					<h:outputText value="#{listUser.tblUsuario.dirUsu}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.sector']}"
					filterBy="#{listUser.secComDTO.nomSec}" filterMatchMode="contains">
					<h:outputText value="#{listUser.secComDTO.nomSec}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.rol']}"
					filterBy="#{listUser.tblRol.descripcion}"
					filterMatchMode="contains">
					<h:outputText value="#{listUser.tblRol.descripcion}" />
				</p:column>

				<p:column headerText="Modificar">
					<p:commandButton value="Modificar"
						actionListener="#{usuarioController.modificar(listUser)}"
						icon="ui-icon-editar" update="frmAdm"
						style="width:95px;text-align:center;font-size: 11px !important;"
						styleClass="btn btn-info" />
				</p:column>

				<p:column headerText="Eliminar">
					<p:commandButton value="Eliminar"
						actionListener="#{usuarioController.eliminar(listUser)}"
						icon="ui-icon-eliminar" styleClass="btn btn-danger"
						style="width:95px;text-align:center;font-size: 11px !important;"
						update=":frmAdm:panelConsulta :frmAdm:dataTable" />
				</p:column>
			</p:dataTable>

		</h:panelGroup>

		<h:panelGroup>
			<p:confirmDialog id="confirmDialog"
				message="Cédula incorrecta esta seguro que desea guardar el registro?"
				widgetVar="dlgConfirmarCedula" header="Importante" severity="alert"
				visible="#{usuarioDatamanager.validarCedula}" showEffect="explode"
				hideEffect="explode">
				<p:commandButton value="Si" styleClass="ui-confirmdialog-yes"
					icon="ui-icon-check" action="#{usuarioController.guardar()}"
					process="@this" oncomplete="PF('dlgConfirmarCedula').hide()"
					update=":frmAdm :frmAdm:panelNuevo,:frmAdm:panelConsulta" />
				<p:commandButton value="No"
					onclick="PF('dlgConfirmarCedula').hide()"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

		</h:panelGroup>
	</ui:define>
</ui:composition>