<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutMenu2.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">
	
	<ui:param name="idForm" value="frmAdmLogin" />
	<ui:param name="formul" value="#{indexController.formul}" />
	<ui:param name="controlador" value="#{indexController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	

	<ui:define name="contentCenter">
	<h:outputText value="#{controlador.formul}"></h:outputText>
		<h:panelGroup id="indexForm">
		 <h:panelGrid styleClass="panelGridCenter">
		 <p:galleria value="#{indexDatamanager.images}" var="image"
		 panelWidth="800" panelHeight="313" showCaption="true">
	     <p:graphicImage library="facturacion" name="images/#{image}" 
	     alt="Image Description for #{image}"
	     title="#{image}"
	      style = "width:auto"/>
    
</p:galleria>
	 </h:panelGrid>			
					<table>
			<tr>
						<td >
						  <h:graphicImage with="200" height="355" library="facturacion" name="images/bienvenido9.jpg" />
						</td>
				        <td>
						   <h:graphicImage with="200" height="355" library="facturacion" name="images/bienvenido7.jpg" />
						</td>
						<td>
						</td>
						
	
					</tr>
								</table>
					
			 <h:graphicImage  width="955" library="facturacion" name="images/logosEmp1.jpg"/>
		</h:panelGroup>
		
			
	</ui:define>
</ui:composition>
