<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutIndex.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{indexController.formul}" />
	<ui:param name="controlador" value="#{indexController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />


	<ui:define name="contentCenter">

		<h:outputText value="#{controlador.formul}">
		</h:outputText>

		<div id="main_container_login">

			<h:panelGrid id="gallery" styleClass="panelGridCenter">
				<!-- 				<p:galleria value="#{indexController.images}" var="image" -->
				<!-- 					effect="slide" effectSpeed="2000" filmstripPosition="bottom" -->
				<!-- 					showOverlays="true" panelWidth="800" panelHeight="313" -->
				<!-- 					showCaption="false"> -->

				<!-- 					<p:graphicImage library="facturacion" name="images/#{image}" -->
				<!-- 						title=" " cache="false" style="width:800px;height:300px" /> -->

				<!-- 				</p:galleria> -->

				<!-- 				<div class="w3-container"> -->
				<!-- 					<h2>Slideshow Indicators</h2> -->
				<!-- 					<p>Using images to indicate how many slides there are in the -->
				<!-- 						slideshow, and highlight the image the user is currently viewing.</p> -->
				<!-- 				</div> -->

				<div class="w3-content" style="max-width: 1200px">
					<img class="mySlides w3-animate-left"
						src="../resources/facturacion/images/imagen1.jpg"
						style="width: 100%; height: 300px; display: block;" /> <img
						class="mySlides w3-animate-left" src="../resources/facturacion/images/imagen2.jpg"
						style="width: 100%; height: 300px" /> <img class="mySlides w3-animate-left"
						src="../resources/facturacion/images/imagen3.jpg"
						style="width: 100%; height: 300px" /> <img class="mySlides w3-animate-left"
						src="../resources/facturacion/images/imagen4.jpg"
						style="width: 100%; height: 300px" /> <img class="mySlides w3-animate-left"
						src="../resources/facturacion/images/imagen5.jpg"
						style="width: 100%; height: 300px" />

					<div class="w3-row-padding w3-section">
						<div class="w3-col s4">
							<img class="demo w3-opacity w3-hover-opacity-off"
								src="../resources/facturacion/images/imagen1.jpg"
								style="width: 100%; height: 65px" onclick="currentDiv(1)" />
						</div>
						<div class="w3-col s4">
							<img class="demo w3-opacity w3-hover-opacity-off"
								src="../resources/facturacion/images/imagen2.jpg"
								style="width: 100%; height: 65px" onclick="currentDiv(2)" />
						</div>
						<div class="w3-col s4">
							<img class="demo w3-opacity w3-hover-opacity-off"
								src="../resources/facturacion/images/imagen3.jpg"
								style="width: 100%; height: 65px" onclick="currentDiv(3)" />
						</div>
						<div class="w3-col s4">
							<img class="demo w3-opacity w3-hover-opacity-off"
								src="../resources/facturacion/images/imagen4.jpg"
								style="width: 100%; height: 65px" onclick="currentDiv(4)" />
						</div>
						<div class="w3-col s4">
							<img class="demo w3-opacity w3-hover-opacity-off"
								src="../resources/facturacion/images/imagen5.jpg"
								style="width: 100%; height: 65px" onclick="currentDiv(5)" />
						</div>
					</div>

					<button class="w3-button w3-display-left w3-black"
						onclick="plusDivs(-1)">&#10094;</button>
					<button class="w3-button w3-display-right w3-black"
						onclick="plusDivs(1)">&#10095;</button>
						
				</div>
			</h:panelGrid>

			<div class="box_content">
				<div class="box_title">
					<div class="title_icon">
						<img src="../resources/facturacion/images/mini_icon1.gif" alt=""
							title="" />
					</div>
					<h2>
						<span class="dark_blue">NOTICIAS</span>
					</h2>
				</div>

				<div class="box_text_content">
					<img src="../resources/facturacion/images/checked.gif" alt=""
						title="" class="box_icon" />
					<div class="box_text">
						<h4 style="padding: 0 0 0px 0 !important;">
							#{indexDatamanager.listEventos.get(0).tituloEvento}</h4>
						<textarea rows="7" cols="50"
							style="background: none !important; border: none !important;"
							wrap="hard" readonly="readonly">
								#{indexDatamanager.listEventos.get(0).descripcionEvent}
						</textarea>
					</div>
				</div>

				<div class="box_text_content">
					<img src="../resources/facturacion/images/checked.gif" alt=""
						title="" class="box_icon" />
					<div class="box_text">
						<h4 style="padding: 0 0 0px 0 !important;">
							#{indexDatamanager.listEventos.get(1).tituloEvento}</h4>
						<textarea rows="7" cols="50"
							style="background: none !important; border: none !important;"
							wrap="hard" readonly="readonly">
						#{indexDatamanager.listEventos.get(1).descripcionEvent}
					</textarea>
					</div>
				</div>

				<div class="box_text_content">
					<img src="../resources/facturacion/images/checked.gif" alt=""
						title="" class="box_icon" />
					<div class="box_text">
						<h4 style="padding: 0 0 0px 0 !important;">
							#{indexDatamanager.listEventos.get(2).tituloEvento}</h4>
						<textarea rows="7" cols="50"
							style="background: none !important; border: none !important;"
							wrap="hard" readonly="readonly">
						#{indexDatamanager.listEventos.get(2).descripcionEvent}
					</textarea>
					</div>
				</div>
			</div>

			<div class="box_content">
				<div class="box_title">
					<div class="title_icon">
						<img src="../resources/facturacion/images/mini_icon2.gif" alt=""
							title="" />
					</div>
					<h2>
						<span class="dark_blue">NOTICIAS</span>
					</h2>
				</div>

				<div class="box_text_content">
					<img src="../resources/facturacion/images/checked.gif" alt=""
						title="" class="box_icon" />
					<div class="box_text">
						<h4 style="padding: 0 0 0px 0 !important;">
							#{indexDatamanager.listEventos.get(3).tituloEvento}</h4>
						<textarea rows="7" cols="50"
							style="background: none !important; border: none !important;"
							wrap="hard" readonly="readonly">
						#{indexDatamanager.listEventos.get(3).descripcionEvent}
					</textarea>
					</div>
				</div>

				<div class="box_text_content">
					<img src="../resources/facturacion/images/checked.gif" alt=""
						title="" class="box_icon" />
					<div class="box_text">
						<h4 style="padding: 0 0 0px 0 !important;">
							#{indexDatamanager.listEventos.get(4).tituloEvento}</h4>
						<textarea rows="7" cols="50"
							style="background: none !important; border: none !important;"
							wrap="hard" readonly="readonly">
						#{indexDatamanager.listEventos.get(4).descripcionEvent}
					</textarea>
					</div>
				</div>
				<div class="box_text_content">
					<img src="../resources/facturacion/images/checked.gif" alt=""
						title="" class="box_icon" />
					<div class="box_text">
						<h4 style="padding: 0 0 0px 0 !important;">
							#{indexDatamanager.listEventos.get(5).tituloEvento}</h4>
						<textarea rows="7" cols="50"
							style="background: none !important; border: none !important;"
							wrap="hard" readonly="readonly">
						#{indexDatamanager.listEventos.get(5).descripcionEvent}
					</textarea>
					</div>
				</div>
			</div>

		</div>

	</ui:define>
</ui:composition>
