<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{menuController.formul}" />
	<ui:param name="controlador" value="#{menuController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.menu']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.menu']}" />

	<ui:define name="contentCenter">

		<h:body onload="PF('seleccionSector').show();" >
		</h:body>
		<ui:include src="../page/administracion/popUpSectores.xhtml">
		</ui:include>

		<h:outputText value="#{controlador.formul}"></h:outputText>
		<div class="linkMenu">
			<h:panelGroup id="panelNuevo">
				<h:dataTable 
					id="tablaMenu"
					value="#{loginDatamanager.tblPaginaList}" var="menu"
					rendered="#{loginDatamanager.tblPaginaList!= null and !empty loginDatamanager.tblPaginaList}">
					<h:column>
						<h:link id="menuLink" value="&#187; #{menu.descripcionPag}"
							outcome="#{menu.pathPag}">
						</h:link>

					</h:column>
				</h:dataTable>
			</h:panelGroup>
			<br />
		</div>
	</ui:define>
</ui:composition>
